[2015-03-12 15:27] mbrakken opened #1 "Json object schemas"
For primary and embedded objects

Album, track, artist, poster, venue, video, photograph, event

[2015-03-12 15:28] mbrakken opened #2 "Connect to and ingest yahara api"
Using latest ember CLI build and ember data

[2015-03-12 19:30] mbrakken commented on #1
Schema repo created and initial set of schema added (album, artist, poster, venue, event)

[2015-03-12 19:31] #1 closed

[2015-06-11 16:00] #2 closed

[2015-06-11 16:07] mbrakken opened #3 "Poster list and display pages"

[2015-06-11 16:08] mbrakken opened #4 "Finish the banners"

[2015-06-11 16:08] mbrakken opened #5 "Download interface for single tracks"
downloads in mp3, flac, aac, alac

[2015-06-11 16:09] mbrakken opened #6 "About/FAQ pages"
About/FAQ pages updated using copy here: https://docs.google.com/document/d/125IddJgJWrbQJ0bTXB_7sfh9MqcOfk8zO6zSioGLE-I/edit#

[2015-06-11 16:09] mbrakken opened #7 "My Collection functioning"
needs api support

[2015-06-11 16:12] mbrakken opened #8 "Add track length data for all tracks, and modify publish process to gather that data -"
Needs are across api, admin, and public app

[2015-06-11 16:12] mbrakken opened #9 "SOCAN/SCI logging"
Presumably, this is logging plays/downloads. Should this come from the api or the client? What needs to be logged and where?

[2015-06-11 17:04] mbrakken opened #10 "General bugs"
https://docs.google.com/document/d/1_jd19GQLJ8DJl-IlILwWDxnYsVDgYfgF_V330D7CEcs/edit

We may want to break these into separate issues, but linking here for now.

[2015-06-11 17:05] mbrakken commented on #9
SOCAN/SCI info https://docs.google.com/file/d/0B56HcVGi1B3nVlp6dFZmOGNGeVE/edit

[2015-06-12 16:56] mbrakken opened #12 "authentication"

[2015-06-12 16:57] #12 closed

[2015-06-12 20:56] mbrakken commented on #6
closed by #13

[2015-06-12 20:56] #6 closed

[2015-06-15 22:19] mbrakken commented on #4
banner is working. needs styles/images

[2015-06-17 20:10] mbrakken commented on #7
i just merged in api support here: https://github.com/therabble/musicat-api/pull/52

finishing off client-side support now.

[2015-06-17 20:12] mbrakken commented on #8
removing this from Beta-done milestone

[2015-06-18 16:59] #7 closed

[2015-06-25 21:48] mbrakken commented on #5
begun in download branch: https://github.com/therabble/ccr-app/compare/downloads

[2015-07-07 19:36] prestonaustin commented on #9
- [ ] Log the minimum required information for SOCAN/SCI compliance per the URL above
- [ ] Need not deliver a document, OK to provide a link that allows log retrieval for appropriate reporting periods
- [ ] This does not need to be an API call, but if implemented as an API then also provide sample URLs or requests for client side, and create a separate task to build the client view

[2015-07-07 19:43] jjg commented on #9
I started looking into the requirements for this and I'm not sure we can get the info needed by examining requests server-side (telling the difference between a stream and a download, or knowing if playback completed or not, etc.).  This is compounded by the fact that not all of these requests go through the same server components, etc.

At this point I'm leaning toward having an endpoint that the

[2015-07-07 19:45] prestonaustin commented on #9
@jjg I'm fine with building up a server side endpoint that the client calls to log plays and downloads, please spec and build the endpoint and let @nagapampa know what client actions should ping the logging endpoint by creating github tasks as you get logging endpoint responding.

[2015-07-07 19:46] jjg commented on #9
Sounds good @prestonaustin.  I need to give the server-side a little thought first but I'll get the interface defined first so we can start logging requests and see what we have to work with.

[2015-07-07 19:52] lahollen opened #25 "Image viewable area selection interface"
can be delivered post beta-launch / Marc's begun but not finished this

[2015-07-07 19:54] lahollen opened #26 "URL: wax.capitalcityrecords.ca"

[2015-07-07 19:57] lahollen opened #27 "embed survey code"
You can find the beta test code here: https://drive.google.com/open?id=0B56HcVGi1B3nUHJCLUVoSl8tdzA&authuser=0

Here is a video created by fluidsurveys on how to set up popups: http://help.fluidsurveys.com/articles/en_US/using-popups

The video and instructions refer to Prevent Popup Code, which you can find here: https://drive.google.com/open?id=0B56HcVGi1B3nTVRhT1Z2T3VrTnM&authuser=0

[2015-07-07 20:08] mbrakken commented on #3
i think first cut is done and out

[2015-07-07 20:08] #3 closed

[2015-07-07 20:08] lahollen opened #28 "display track lengths on album pages"
@nagapampa talk to @jjg about where the metadata is

[2015-07-07 20:10] mbrakken commented on #4
these seem done

[2015-07-07 20:10] #4 closed

[2015-07-07 20:12] lahollen opened #29 "API support for removing stuff to "my collection" not yet supported"

[2015-07-07 20:15] lahollen opened #30 "MARC integration"
a. could we link to art in  the 856 field
b. Rabble will populate that field with a URL for largish art

[2015-07-07 20:16] mbrakken commented on #29
closed via #24 and https://github.com/therabble/musicat-api/pull/53

[2015-07-07 20:16] #29 closed

[2015-07-07 20:29] lahollen commented on #25
Once working, use it to properly thumbnail the following:
- [ ] Wilfred N and the Grown Men
- [ ] Bombproof the Horses
- [ ] Passburg
- [ ] Felt Hat String Band
- [ ] Paul Richey and the Fusionauts
- [ ] No Museums
- [ ] Tyler Butler
- [ ] Dub Vulture
- [ ] TOMBTHEMUSICIAN
- [ ] Choir and Marching Band
- [ ] The Frolics
- [ ] VERA
- [ ] Carrie Day

[2015-07-07 20:34] prestonaustin commented on #26
@jjg Will meet with you on this, or...please just tell me what murfie.com
URLs you are setting up and what you think I need to set up at MUSICat.co
and ask for at capitalcityrecords.ca - we should both search email too, as
we did some of this like a year ago!

[2015-07-07 20:38] lahollen opened #31 "Artist page banner title overlaid on band title in image"
Examples:
- [ ] http://ccr-public.herokuapp.com/artists/choir-and-marching-band
- [ ] http://ccr-public.herokuapp.com/artists/wilfred-n-and-the-grown-men

[2015-07-07 20:41] lahollen opened #32 "Album link sometimes does not display on artist page"
The first time I looked at this page, the link to the album didn’t appear. The second time I looked at it, it did appear. This is not a problem because it doesn’t seem to happen again after the first time. I just thought I’d point it out in case it is a clue for fixing something else.

http://ccr-public.herokuapp.com/artists/death-by-robot

Also happened with: Felt Hat String Band, TOMBTHEMUSICIAN

[2015-07-07 20:44] lahollen opened #33 "Track does not play"
http://ccr-public.herokuapp.com/albums/josh-sahunta-lights
First track Supernova isn't playing

[2015-07-07 20:47] lahollen opened #34 "Logo issues on album page"
http://ccr-public.herokuapp.com/albums/marystown-a-perfect-reality
Weird dropped vimeo logo appeared beside the facebook logo and linked to band website. Refreshed the page and saw three of the them. Refreshed the page and they were all gone. Very strange.

[2015-07-07 20:52] lahollen opened #35 "Replace artist banner"
http://ccr-public.herokuapp.com/artists/electricity-for-everybody
The band have requested that we replace the current artist banner with the following image: https://drive.google.com/open?id=0B56HcVGi1B3nZE1Eb1VjMnVRRWs&authuser=0

[2015-07-07 20:56] lahollen opened #36 "retrieve artist contact data"
Alex needs contact data for the artists on this list who submitted but were not accepted to CCR to send rejection letters.
List of artists:
https://docs.google.com/spreadsheets/d/1yTDqOrVKAi32dP9a-EnKxDdocBFs1vbeobBUedawpf0/edit#gid=0

[2015-07-07 21:02] mbrakken commented on #34
Issue is with the url. That section is intended for social media urls, and i'm applying a class tag to the link to properly position the appropriate logo from a sprite.

Easy solution: remove url to artist's website from that section (in the review-and-publish interface), since it's the same url used in the Artist Webpage section

Alternatively, include a general fallback img for cases where we do

[2015-07-07 21:04] mbrakken commented on #34
it looks like the former easy solution just happened: http://ccr-public.herokuapp.com/artists/marystown

[2015-07-07 21:08] lahollen opened #39 "Artist did not receive email notification that newest album was submitted"
Band that did not receive email notification: Marystown - A Perfect Reality

[2015-07-07 21:12] lahollen opened #40 "Text edits on about page"
http://ccr-public.herokuapp.com/about

About page>License Information>Local Music History Archive> Note>
please change “Terms of Service” to “Terms and Conditions”

[2015-07-07 21:13] prestonaustin commented on #34
Closing - unless @mbrakken wants it reopened.

[2015-07-07 21:13] #34 closed

[2015-07-07 21:15] mbrakken commented on #32
I haven't been able to reproduce this for some time. My leading hypothesis initially was that it was an artifact of memory issues, since it cropped up after a bunch of content had been added. Nothing since has changed that hypothesis.

If we can reproduce it, let's reopen with steps to reproduce. There's no clear vector for debug otherwise.

[2015-07-07 21:15] #32 closed

[2015-07-07 21:16] lahollen opened #41 "Text edits on FAQ page"
http://ccr-public.herokuapp.com/faq?anchor=accepted-music

- [x] Who is on the jury? Please change Lori Gawryluik’s title to “Artistic Director, Quarters Arts Society”
- [x] How much are the honorariums? Please change last sentence to “These royalties will be redistributed according to SOCAN and CSI’s policies.”

[2015-07-07 21:17] mbrakken commented on #31
What result do we want here? It seems like a content problem, so EPL should request different images without text.

[2015-07-07 21:28] lahollen opened #42 "Install wildcard SSL"

[2015-07-07 21:28] lahollen commented on #42
Blocked by Peter. We're inviting Peter to github and will assign this task to him.

[2015-07-07 21:32] prestonaustin commented on #31
@mbrakken I will request replacement art from Alex. We'll invite her and Peter shortly, and assign this task to her.

[2015-07-07 21:40] prestonaustin commented on #33
@mbrakken What is the "least developer involved" path to replacing a track?
For example: Re-upload, re-sign, and re-publish.

[2015-07-07 21:51] mbrakken commented on #33
I'm not really sure there's an easy way right now, given tradeoffs we had
to make when we turned to redis over jsfs for storing json data. There
isn't yet a good way to access or compare diffs when upstream content
changes.

The process I used for Look Away's tracks is the best I can think of right
now, but I'll see if something else comes to me.

On Tue, Jul 7, 2015 at 4:40 PM, prestonaustin <not

[2015-07-07 21:51] mbrakken commented on #33
BTW, the PR referenced above takes care of this. It's not a track problem, it's the transcoder's support for m4a. Most browsers will just play m4a, though.

[2015-07-07 21:56] mbrakken commented on #33
Also, I can update my process I used. I wrote that first version in a hurry.

[2015-07-07 21:56] prestonaustin commented on #33
@mbrakken Post a link to that process here when you can, then close this out and open an issue later about a process for this.

[2015-07-07 21:57] lahollen opened #43 "Login box issues"
http://ccr-public.herokuapp.com/
- [x] Strange sizing of the login box on chrome and firefox. See https://docs.google.com/document/d/1_jd19GQLJ8DJl-IlILwWDxnYsVDgYfgF_V330D7CEcs/edit# for Alex's screenshot.
- [x] Remove up/down arrows in card number and PIN fields
- [x] Change “Library Card PIN” to “PIN”

[2015-07-07 22:10] #10 closed

[2015-07-07 22:45] lahollen opened #44 "poster upload tool issue"
http://submissions.capitalcityrecords.ca/submit/event-media

When I selected “All posters are by the same artist” that artist name did not show up on the publishing page http://submissions.capitalcityrecords.ca/review-and-publish/posters and had to be manually entered again.  This has happened one time, but not every time.

[2015-07-07 22:46] prestonaustin commented on #9
We need to confirm the data for this is being logged somewhere we won't lose it, ideally by Thursday morning. Then we can move finishing this out of the way of the beta, and get reporting in place by end of July. Actual reports are not a beta-done requirement, but tracking the data about plays and downloads is. @jjg let's discuss tomorrow how we can split this into a simplest possible log and the

[2015-07-07 22:48] prestonaustin opened #45 "Mechanism and process to replace album's tracks, other assets"
This needs further specification - @mbrakken feel free to add notes about this here.

[2015-07-07 22:50] lahollen opened #46 "Feature request: suppress options to purchase display when empty"
Is it possible to only show the "Options to Purchase" toggle if there is content to display? I think that in almost all cases we received a link to Bandcamp so I don't think there will be too many instances where there is nothing to show.

[2015-07-07 22:52] prestonaustin opened #47 "Artists, Albums, and Tracks export"
- [x] Decide on a format for a list of everything that is published suitable for easy use in documents and relatively easily parsed (probably plaintext, RTF, or CSV, but not HTML or JSON)
      CSV is the decision - for first cut at this we will pull Artist name, Album name, Track Number, Track Name, Track Duration for every published track as a CSV
- [x] Confirm format with @acecarruthers
- [ ] B

[2015-07-07 22:55] lahollen opened #48 "Design requests: text bolding or resizing"
- [ ] Individual album page: I’d be interested in seeing what the text looks like if everything is bolded – including the text in the player
- [ ] About Page / FAQ page: The small grey text contrasted against the very large headings makes this hard to read. (Same issue for FAQ page) Could the text be bolded and/or larger?
- [ ] Playbar. Text is very small and a little hard to read. Could it be bol

[2015-07-07 22:56] lahollen opened #49 "Design request: change placement of tags on individual artist page"
Could you experiment with other places for the tags? Their function is to be searchable keywords and to give people a sense of what they can expect from the music. Maybe put them closer to the album link?

[2015-07-08 17:03] nagapampa commented on #40
Will be included in DELETE branch deploy

[2015-07-08 17:06] nagapampa commented on #41
These changes will be deployed with the DELETE branch changes

[2015-07-08 17:08] nagapampa commented on #39
Not a way to really figure out why one email wasn't sent out.  Could be a server down somewhere at that time.  Could have gone to spam.  Not sure how to really resolve this.

[2015-07-08 17:08] #39 closed

[2015-07-08 17:43] jjg commented on #9
I'm thinking about creating a general-purpose log sink for this.  This avoids the complexity of making it fit-in right with the CCR API, and also would allow us to use it to log things for simular applications (like Yahara plays, etc.).

Thoughts @prestonaustin ?

[2015-07-08 18:05] prestonaustin commented on #9
Fine with me, gives client dev more latitude too.

[2015-07-08 18:37] jjg commented on #9
I'll go that route then.  The interface will be very simple, accepting a POST request of some JSON data that I'll spec. here as soon as I can.  I'm not sure that I'll have a production version of this ready by first thing tomorrow, but I'll try.

[2015-07-08 18:46] nagapampa commented on #35
Banner has been replaced.

[2015-07-08 18:46] #35 closed

[2015-07-08 19:13] nagapampa commented on #43
Will be included in next deploy (of DELETE branch changes)

[2015-07-08 19:26] prestonaustin commented on #9
@jjg Much appreciated. Having the basic data logged is critical to beta as
those are deemed royalty-relevant streams and downloads.

On Jul 8, 2015 1:37 PM, "Jason Gullickson" <notifications@github.com> wrote:

[2015-07-08 19:46] jjg commented on #42
Got the certificate this morning, will be installing and making associated DNS changes once @prestonaustin blesses them :)

[2015-07-08 20:06] prestonaustin commented on #42
@jjg blessed be the plan.

[2015-07-08 20:18] nagapampa commented on #27
![survey](https://cloud.githubusercontent.com/assets/2964839/8581153/93696d5a-2584-11e5-9c25-dc1ca675f0fe.png)

[2015-07-08 20:18] nagapampa commented on #27
This is deployed

[2015-07-08 20:18] #27 closed

[2015-07-08 20:19] nagapampa commented on #43
![login](https://cloud.githubusercontent.com/assets/2964839/8581180/bb709602-2584-11e5-906e-cfa0cd5f58b8.png)

[2015-07-08 20:19] nagapampa commented on #43
This has been deployed.

[2015-07-08 20:19] #43 closed

[2015-07-08 20:20] nagapampa commented on #41
This has been deployed

[2015-07-08 20:20] #41 closed

[2015-07-08 20:20] nagapampa commented on #40
This has been deployed

[2015-07-08 20:20] #40 closed

[2015-07-08 20:38] prestonaustin commented on #42
musicat and edmonton CNAME records for wax are in place as of 3 minutes ago.

[2015-07-08 20:43] prestonaustin commented on #26
DNS records are done. @nagapampa can you do Heroku config (check in with Marc and Jason if that's new territory for you - I think you can do it in the app control panel on heroku) and please close this after determining Heroku config changes are live and routing wax.captitalcityrecords.ca name to CCR-public.herokuapp.com is working. I don't think this intersects with @jjg's work on SSL but chime i

[2015-07-08 21:39] acecarruthers commented on #31
I read through our license and realized it is within our rights to just crop the text out of these images (Section 2(g) says we can do whatever we want if we are acting reasonably!). I have cropped the offending text out and attached the images below.

bannerccr.jpg is for Choir and Marching Band
wngm-band-banner-darker.jpg is for Wilfred N and the Grown Men

I've also uploaded these images to the

[2015-07-08 21:43] acecarruthers commented on #47
@prestonaustin let's go with CSV

[2015-07-08 22:05] prestonaustin commented on #36
Rather than pulling just the missing set, let's design this to pull emails for all artists, cuz why not?
- [ ] @mbrakken will give @nagapampa instructures (and/or insttructuions ;) about best way to pull that data. Please add/link them to this thread.

[2015-07-08 22:10] nagapampa commented on #26
http://wax.capitalcityrecords.ca/ is pointing to the latest deployment
![wax](https://cloud.githubusercontent.com/assets/2964839/8583578/3c6e3002-2594-11e5-8c9f-427d97217900.png)

[2015-07-08 22:11] nagapampa commented on #26
wax.capitalcityrecords.ca.musicat.co

also points to ccr-public.herokuapp.com

[2015-07-08 22:24] jjg commented on #26
Hey all.  Heroku responding to this should be all set (took care of that before making the DNS requests, preemptive strike :)

[2015-07-08 22:25] jjg commented on #26
I'll work on binding https to that asap.

[2015-07-08 22:25] prestonaustin commented on #26
yep. it works.

[2015-07-08 22:41] #26 closed

[2015-07-08 23:17] mbrakken commented on #5
closed by #22, with the caveat that aac and alac still need to be wrapped as m4a / mp4 by mms.

[2015-07-08 23:18] mbrakken commented on #28
i need to check in with @jjg about this. wip branch for showing playback position here: https://github.com/therabble/ccr-app/compare/position

[2015-07-08 23:19] mbrakken commented on #8
#28 is a piece of this

[2015-07-08 23:25] mbrakken opened #51 "AAC / ALAC need to be wrapped as M4A for downloads"
Everything else about this is in the murfie/mms repo.

[2015-07-08 23:26] #5 closed

[2015-07-08 23:28] prestonaustin commented on #51
We think this bug will close without further work when @jjg closes https://github.com/murfie/mms/issues/25 - I'll update this ticket Thursday to give EPL visibility on status.

[2015-07-09 12:58] prestonaustin commented on #42
Done, works :)

[2015-07-09 12:58] #42 closed

[2015-07-09 12:59] prestonaustin opened #52 "Investigate appearance of fs.cm domain"
Why is this showing up in script blocker on wax loads for PHA and should anyone care?

[2015-07-09 13:15] prestonaustin commented on #51
@acecarruthers currently we have this fix for beta-done, but would like to consider moving it to production-ready and removing the option to download AAC & ALAC until it is done. Would that be acceptable? We have some issues with the heterogeneous sources that are new to CCR (because we didn't pull all the music from CD or other WAV source). It won't delay the work, and we think it's no big deal b

[2015-07-09 13:29] prestonaustin opened #53 "spec what's needed in terms of MMS compression/size/etc"
@jjg I'll do this with @mbrakken and @nagapampa post beta, then pass to you

[2015-07-09 13:36] mbrakken commented on #52
This is part if the survey code stuff (fluid survey).
On Jul 9, 2015 7:59 AM, "prestonaustin" <notifications@github.com> wrote:

[2015-07-09 13:42] prestonaustin commented on #52
Thanks Marc!

[2015-07-09 15:05] acecarruthers commented on #51
@prestonaustin yes - Go ahead and move it to production ready

[2015-07-09 15:15] jjg commented on #9
Here's what I think we need to log in order to generate the reports described in the PDF:

* deal type code (stream, download, etc.)
* unique track identifier
* track title
* track primary artist
* label name
* price
* payable to SOCAN
* payable to CSI
* unique visitor id

I don't know if we need to log the "payable" stuff or if that can be inferred, if we can leave it out that's great.

There is

[2015-07-09 15:33] jjg commented on #9
*very* experimental production endpoint located here:

https://log.murfie.com/

Not a lot of exception handling yet, so make sure your requests are well-formed before sending them.  Minimally the "app" parameter should be specified, and the value should be: 4e392d7402d16170a352212f74ae2315

[2015-07-09 16:47] acecarruthers commented on #47
@prestonaustin I spoke with CSI this morning and they no longer require us to send them a full track list. I think this can be moved to a post-launch priority.

[2015-07-09 18:22] acecarruthers commented on #9
@jjg bundles is their word for albums. Since we're not making full albums downloadable at once, we don't need to worry about bundles.

[2015-07-09 18:23] jjg commented on #9
Sweet @acecarruthers :)

Also I fortified the production service a bit and fixed some bugs so it should be more stable now (and auto-recovering).  That said, be gentle :)

[2015-07-09 18:59] nagapampa commented on #36
The spreadsheet has been updated with the contact information for each artist.

[2015-07-09 18:59] #36 closed

[2015-07-09 19:08] mbrakken commented on #9
Given that people can stream without being logged in, is there a default I should use for user_id, or should the default be an empty string?

[2015-07-09 19:09] prestonaustin commented on #9
Empty string in all cases I think. I don't want to report them. @jjg
@acecarruthers do we have to?

--
Preston Austin
preston.h.austin@gmail.com

On Thu, Jul 9, 2015 at 2:08 PM, Marc Brakken <notifications@github.com>
wrote:

[2015-07-09 19:12] mbrakken commented on #9
gotcha. that makes it slight easier :)

[2015-07-09 19:14] jjg commented on #9
Everything is optional from the engineering perspective.  The doc says it's a mandatory field, but if you're not reporting it, then there's no field.

[2015-07-09 19:20] prestonaustin commented on #9
implement without, and I'll chat with EPL about that - seems odd that a
library would report individual user behavior on this, but I may have
missed something on Kelly's watch. I'll go read the faq ;)

[2015-07-09 19:24] prestonaustin commented on #9
My read on EPL policy here: http://www.epl.ca/website-policy#confidentiality is that we _can't_ report this information. @acecarruthers have I got this right? Sorry for last minute question on this, I didn't realize there was a person identifier in the reporting format.

[2015-07-09 19:27] acecarruthers commented on #9
@prestonaustin I'm looking through my notes on this because I believe this concern was addressed to my satisfaction back in January, but now I can't find the details.

[2015-07-09 19:37] mbrakken commented on #9
i have logging or streaming tested and working. I'm assuming that for downloads, I just change `"event_type": "stream"` to `"event_type": "download"`. Correct?

[2015-07-09 19:38] mbrakken commented on #9
Also, i'm logging when a track finishes playing or finishes downloading. Is that right, or should it be earlier in the life cycle (it's trivial to change).

[2015-07-09 19:39] acecarruthers commented on #9
@mbrakken CSI says we owe them the royalty as soon as someone starts playing the track. It doesn't have to finish to be relevant to them. You are right about downloading though.

[2015-07-09 19:40] prestonaustin commented on #9
@mbrakken correct on download. Yes log on completion, so we don't get
spurious logged activity because of stray clicks or quickly abandoned ones.
We can refine this later.

[2015-07-09 19:41] mbrakken commented on #9
ok. i'll move up the playback log

[2015-07-09 19:41] prestonaustin commented on #9
Or, we can refine it now, sorry @mbrakken

[2015-07-09 19:50] jjg commented on #9
Correct on `event_type` @mbrakken.  There are other variations but I think for this application the only ones that are relevant are stream and download.

[2015-07-09 20:00] acecarruthers commented on #9
@mbrakken, sorry I talked it over with Peter and we decided that it is fair to wait 6 seconds before we log anything for streaming. That will save us from spurious logged activity as @prestonaustin  said.

[2015-07-09 20:03] acecarruthers commented on #9
@prestonaustin I am trying to get in contact with CSI to confirm what the user ID is meant to signify. You are correct that sending any personally identifying information is against our privacy policy. I don't think CSI wants personally identifying information though. I think they just want a sense of how much individuals use the service - to understand if we have power users who download a lot or

[2015-07-09 20:24] mbrakken opened #55 "handle download feedback when evt.lengthComputable === false"
Currently, mms doesn't reliably give back computable lengths during download. We should have a fallback state on the download indicator, akin to the "processing" state on the upload indicator in the ccr app.

[2015-07-09 20:26] mbrakken commented on #9
OK. Currently it logs right away. We'll need a small change to call it at
the 6 second mark, but that should be easy and will be implemented later.

On Thu, Jul 9, 2015 at 3:03 PM, acecarruthers <notifications@github.com>
wrote:

[2015-07-09 20:27] mbrakken commented on #9
FYI, i'm using as user ids a SHA1 hash of their card number (the server
does the same). I don't think it'd be easy to trace that back to a person
beyond our system.

On Thu, Jul 9, 2015 at 3:25 PM, Marc Brakken <marc@murfie.com> wrote:

[2015-07-09 20:40] #9 closed

[2015-07-09 21:18] #52 closed

[2015-07-09 21:20] prestonaustin commented on #44
@acecarruthers - if you can provide more detail or info here as we proceed, please do. At this point we may have to leave this one hanging until we have more reports, as we have little to go on to target a fix.

[2015-07-10 14:11] prestonaustin opened #56 "Track-list play control doesn't resume paused play, it restarts track"
It should resume play as the mini-player control does.
(Preston's Firefox on Mac OS X, http://wax.capitalcityrecords.ca/albums/the-duettes-your-little-voice, 10 Jul, 9:05c)

[2015-07-10 14:30] prestonaustin commented on #56
@acecarruthers I'm going to tag "would be better if this didn't happen this way" bugs like this non-blocking, and "I can't do what I'm here for" bugs blocking - just FYI.

[2015-07-10 15:35] JohnAtMurfie opened #57 "Clicking site logo from posters page doesn't link you anywhere"
It should return you to the front page as expected when clicking the logo. When on the posters page or on an individual poster, clicking the log doesn't seem to do anything.

(John's Chrome on Chrome OS, https://wax.capitalcityrecords.ca/posters, 10 Jul, 10:35c)

[2015-07-10 15:51] acecarruthers opened #58 "Individual poster images uploading slowly"
We received this feedback from two beta testers this morning. This was a general comment and not a concern about a specific poster.

(beta tester 1, Chome on Windows 7, 9 July, 5:05pm mt
beta tester 2, Firefox on Mac OS X, 9 July, 8:41pm mt)

[2015-07-10 15:52] acecarruthers commented on #58
@prestonaustin when I add a new issue is it best that I mention you in a comment like this? Or should I assign it to you or @lahollen so that you can review my tags and assign the issue to the right people?

[2015-07-10 15:59] prestonaustin commented on #58
@acecarruthers you don't need to do anything actually. I watch the repo so
I see all new issues (like that eye in the Lord of The Rings only less
creepy). A good example of a well formed ticket are these from John and me.
Note the stuff in parens - that helps a lot. Ideally we know which tester,
browser, OS, and anything special like using it on a mobile network with
each report, along with estima

[2015-07-10 16:09] acecarruthers commented on #58
@prestonaustin ok great. Thanks for the suggestion. I'll just add issues directly to GitHub with as much detail as I can.

[2015-07-10 16:12] prestonaustin commented on #58
Also - keep in mind that the whole world can see us in here should they
happen to look, as this is an open dev repo, so don't share contact info
here.

[2015-07-10 16:18] acecarruthers opened #59 "Content on "Rend" artist page not showing up"
I published this band yesterday morning. The album page has no problems at all.

(Alex, Firefox, Windows 7, http://wax.capitalcityrecords.ca/artists/rend 10 July, 10:17am mt)

[2015-07-10 16:37] acecarruthers opened #60 "Text edit to FAQ page"
Under "How can I download music?" please replace "[specific instructions on how to download music]" with "Log in with your library card and PIN by clicking the Login button in the top right corner. Then hover over the track you want to download. Click the download button that appears next to the track play button. Choose the format you want to download. Enjoy!"

http://wax.capitalcityrecords.ca/fa

[2015-07-10 16:49] mbrakken commented on #59
Their submitted youtube url was http://www.youtube.com/rendmusic, which is different from the others and the parsing code didn't know how to deal with to load in the youtube playlist. That url redirects to https://www.youtube.com/user/RENDMUSIC, which should parse fine, so I'm going to change the url.

[2015-07-10 16:50] mbrakken commented on #59
http://wax.capitalcityrecords.ca/artists/rend loads.

[2015-07-10 16:50] #59 closed

[2015-07-10 20:18] acecarruthers opened #61 "Player doesn't update immediately when switching between albums"
When you switch from one album to another on the player, the new track names appear, but the album art, artist name and album name do not change. Once song 1 has played through and song 2 begins, all of the correct data appears in the player for song 1.

(beta tester 1, Chrome, Windows 7, 9 July, 5:06pm mt
Alex, Firefox, Windows 7, 10 July, 2:17pm mt brightly annotated screen grab below from http:

[2015-07-10 20:27] acecarruthers opened #62 "Few seconds of songs repeating at the end of tracks"
This is a bug I noted earlier and I believe it is tied to #28.

(beta tester 2, Firefox, Windows 7, noticed between tracks 1/2 of http://wax.capitalcityrecords.ca/albums/lauren-busheikin-we-love, and between tracks 1/2 and 2/3 of http://wax.capitalcityrecords.ca/albums/jey-witten-the-wide-eyed, 9 July, 5:15pm mt)

[2015-07-10 20:58] acecarruthers opened #63 "Google Analytics set up and functioning"
EPL has a Google Analytics account. I'll set up a special certificate for capitalcityrecords.ca and share the code.

[2015-07-10 22:05] mbrakken commented on #61
I may have been a bit vigorous in unbinding data on the player. I thought I
was just unbinding it in one way (eg. the interface won't update the
model), but I may have unbound it both ways. I'd start by removing some of
the `unbound` statements in the template and go from there.

On Fri, Jul 10, 2015 at 3:18 PM, acecarruthers <notifications@github.com>
wrote:

[2015-07-10 22:35] acecarruthers commented on #33
Couldn't get the song to play on iPad (Safari, Chrome) or Android phone (Chrome).

Alex, iOS 8.3, 10 July 4:24pm mt http://ccr-public.herokuapp.com/albums/josh-sahunta-lights
& Samsung Galaxy S6, Lollipop, 10 July, 4:30pm mt

[2015-07-10 22:35] acecarruthers commented on #33
Couldn't get the song to play on iPad (Safari, Chrome) or Android phone (Chrome).

Alex, iOS 8.3, 10 July 4:24pm mt http://ccr-public.herokuapp.com/albums/josh-sahunta-lights
& Samsung Galaxy S6, Lollipop, 10 July, 4:30pm mt

[2015-07-10 23:06] acecarruthers opened #64 "Mobile functionality issues"
- [ ] download process on tablet is not obvious. On Safari and Chrome you have to hold your finger down on the track you want until it is highlighted. Then dismiss the copy button and then the button appears. Could this be simpler?
- [ ] download button appears over the play button on phone. Only the play button responds to tapping. See screenshot below.

Alex iPad iOS, Safari 8.3, 10 July 4:50pm

[2015-07-10 23:12] prestonaustin commented on #64
Let's split the banner image squish into another ticket. We don't need new
ones we can automate it.

The other two need a different style for touchscreens, it's the onhover
stuff that is making it awkward. I think the control for download of each
track should simply show at all times.

(I'll make these changes and assign the tickets later, this is just in case
someone gets to these before I do)

[2015-07-10 23:15] mbrakken commented on #64
Yup. A touch alternative is in plan. I need to resolve this for murfie, so
ill share info when i have that.
On Jul 10, 2015 6:12 PM, "prestonaustin" <notifications@github.com> wrote:

[2015-07-13 15:31] acecarruthers opened #65 "First track of multiple albums not playing"
Not every album has been tested, but so far this was identified as a problem for
Passburg http://wax.capitalcityrecords.ca/albums/passburg-mountains
Electricity for Everybody! http://wax.capitalcityrecords.ca/albums/electricity-for-everybody-local-technique
Unwed Mothers http://wax.capitalcityrecords.ca/albums/unwed-mothers-unwed-mothers

(Alex, Firefox, Windows 7, July 13, 9:20am mt
beta tester,

[2015-07-13 15:40] prestonaustin commented on #65
Clarifications needed (unassigned - @jjg just FYI)
- [ ] determine if this is all the time, all clients
- [ ] check browser network activity to determine if if a media object is
being returned (corrupt result vs fail with no result)

[2015-07-13 15:59] jjg commented on #65
Just so I have a crystal-clear picture of this, is it always the first track, or the first track played?

[2015-07-13 16:18] prestonaustin commented on #65
@acecarruthers do you know/can you find answer for @jjg question above?

[2015-07-13 16:48] acecarruthers commented on #65
@jjg it has been the first track. With Passburg it looks like it is track no. 1 and track no. 2. The order you play them in doesn't seem to matter.

[2015-07-13 17:54] acecarruthers opened #66 "hide PIN during login"
4 number PIN is currently visible when logging in. Please change to ** or something similar for privacy.

[2015-07-13 18:00] acecarruthers opened #67 "Indication that download is processing"
The time in between choosing a download format and seeing the browser's indication that the file has downloaded was long enough that one tester became confused about whether she was doing it right. Please add a visual indication that the file is downloading.

She was testing on http://wax.capitalcityrecords.ca/albums/mad-bomber-society-butchers-stompers-and-cheats, but I've tried a few times and h

[2015-07-13 19:07] nagapampa commented on #60
Checked into master for next deployment

[2015-07-13 19:07] #60 closed

[2015-07-13 19:08] nagapampa opened #68 "Force SSL on heroku"
Jason,

I was given 2 options for forcing https:// redirects: With your app, I'd recommend one of two things: either a) setup this redirect within your app so that any http requests that come in, redirect automatically to https, or b) use the Nginx buildpack and use that to perform the necessary redirect.

Let's discuss the best approach and how to implement.

[2015-07-13 19:26] acecarruthers opened #69 "Dropped Vimeo logos appear on artist pages"
See example below. The images appear on different artist pages in different orders and often disappear if the page is refreshed. @mbrakken looked at this a month ago and we thought we had resolved it, but I've received reports of it continuing to happen from testers.

(tester, Chrome, Windows 7, http://ccr-public.herokuapp.com/artists/doug-hoyer, http://ccr-public.herokuapp.com/artists/bombproof-t

[2015-07-13 19:30] acecarruthers commented on #61
Today this bug manifested itself a little differently. After switching between albums, the song that was playing would continue to show the incorrect artist name, album art and album cover, but, the songs to the left and right of the playing song would have all the correct information.

[2015-07-13 19:33] acecarruthers opened #70 "Mobile login sizing"
First attempt at logging in on iPhone 5S resulted in strange sizing and floating navigation bar. See below. The cursor was flashing where the PIN box should have been. Even though it wasn't possible to see the PIN box or the submit button, it was possible to successfully login from this screen.

(tester, Chrome, iOS, 13 July, 10:30am mt)

![img_0436](https://cloud.githubusercontent.com/assets/7355

[2015-07-13 19:48] acecarruthers opened #71 "Mobile Usability Issues"
- [x] banner images on tablet and phone do not scale down in size and end up looking squished.
- [x] "More" button in phone navigation didn't do anything and tester was unable to logout from her phone.
- [ ] player buttons too small and difficult to use
- [x] EPL logo/link is covered up by the mobile menu.

tester, Chrome, iOS, iPhone 5S, 13 July, 10:50am mt

[2015-07-13 19:49] acecarruthers commented on #64
I moved the image squish into #71 with some other non-blocking mobile bugs.

[2015-07-14 18:13] #31 closed

[2015-07-14 18:31] nagapampa commented on #33
Connection refused for:
https://ccrjsfs.murfie.com/josh-sahunta-lights/01-supernova-feat-kayla-patrick-and-dexter-twardzik.m4a
https://ccrjsfs.murfie.com/josh-sahunta-lights/lights-mp3.mp3

[2015-07-14 18:36] acecarruthers opened #72 "Design modifications"
I spoke with EPL's head of design and production and he gave me some good feedback on the site.
- [x] Move the CCR logo in the top left corner down so the bottom of the logo is on a level with the bottom of the search bar.

- [x] Put some padding around the text on top of the banners so that the text isn't crowded at the top. I thought the spacing of the banner text on the homepage mock ups we rec

[2015-07-14 18:44] prestonaustin commented on #72
Let's try magenta bars CSS first here, as it is Alex's pref (and imo CSS
more certain to always work with various art)

[2015-07-15 19:02] nagapampa commented on #33
Can you see if your work yesterday resolved this issue?

[2015-07-15 19:37] jjg commented on #33
We had an outage of ccrjsfs yesterday but it's back at this point so playback should be restored.

I'm in the process of migrating all the tracks stored on ccrjsfs over to ccrapi2 which is significantly more robust and closely monitored.

[2015-07-16 15:53] acecarruthers opened #73 "mobile user unable to log in using otherwise functional card"
Survey feedback: "It would not accept my card number. I know my information is correct as I use the EPL app on my phone and often sign in."

tester, Safari, iOS, 15 July, 9:10 pm MT

[2015-07-16 15:55] acecarruthers commented on #70
Similar feedback received yesterday: "the pop up window to put my card info into kept getting obscured my the music play bar. It seems all the displays were not fitting in my screen."

(tester, iPhone, iOS, Safari, 15 July, 9:10pm MT)

[2015-07-16 16:04] acecarruthers commented on #73
I just tested with my card number and had the same problem.

Samsung Galaxy S6, Lollipop, Chrome, 16 July 10:04am mt

[2015-07-16 16:10] acecarruthers commented on #64
related feedback: "At first the download button was there when I was streaming music. It accidentally clicked on the download. I decided I would come back to that function as I was focusing on streaming. But then the download icon was not even there (did not load?) I waited and clicked on other artists. Could not download."

tester, Safari, iOS, 15 July, 9:10 pm MT

[2015-07-16 17:24] acecarruthers opened #74 "User cannot play tracks twice"
user feedback (modified to be more specific): If I’m half way through a song [My Ego by Lauren Busheikin] and decide that I want to re-listen to a song I already heard [Angela by Lauren Busheikin], it doesn’t work:  If I try to switch automatically to [Angela], [My Ego] keeps going.  If I try to stop the [My Ego] and then start [Angela], [My Ego] starts again."

an update: since this user has list

[2015-07-16 18:46] prestonaustin commented on #73
@acecarruthers can we get the card numbers to test with or do all cards now fail?

[2015-07-16 18:47] prestonaustin commented on #72
Assigning to @acecarruthers until banner uploaded, please assign back to Carie when you get it in here :)

[2015-07-16 18:50] prestonaustin commented on #71
- [ ] scale home page banner images on tablet and phone to design width
- [ ] Fix "More" button to show additional hidden copy
- [ ] Test logout from phone
- [ ] Move EPL logo/link above the mobile menu

[2015-07-16 18:52] prestonaustin commented on #70
@nagapampa Let's create simplified CSS that makes this use the entire screen at narrow widths rather than rendering a modal in context of the page content. After implementation we'll look at any further needed styling.

[2015-07-16 18:53] prestonaustin commented on #69
@mbrakken You have familiarity with this issue, what is going on here in your opinion?
(answer soon please, even if you don't have a lot to say)

[2015-07-16 18:54] prestonaustin commented on #68
@jjg please contact Carie today to check in on this and offer a decision so she can move forward, or assign the ticket back to me if you don't know.

[2015-07-16 18:55] prestonaustin commented on #67
- [ ] provide UX feedback at or before query initiation for download: "downloading..." in the track bar and clear that feedback at download completion.

[2015-07-16 18:58] prestonaustin commented on #65
@jjg after you normalize the JSFS representations of all tracks to WAV, and finish the work associated with playback duration metadata, can you test these and close the ticket or assign it back to me.

[2015-07-16 18:59] prestonaustin commented on #64
@mbrakken please update this ticket, we need an MVP defined here or reassign it to me (but then you have to implement my solution for Murfie stuff too ;)

[2015-07-16 19:00] jjg commented on #68
Hey @prestonaustin & @nagapampa,

I don't know anything off-hand about the options they present here, so I'd have to bump something else and dedicate some time to digging into it to say what's best (and how to do either :).  It might be faster to run this past @southpolesteve since he's more into Heroku products than I am.

[2015-07-16 19:00] prestonaustin commented on #62
Review after Jason fixes to MMS and JSFS

[2015-07-16 19:02] prestonaustin commented on #61
@mbrakken please update this ticket

[2015-07-16 19:02] jjg commented on #62
MMS and JSFS changes made, need to re-test after @mbrakken updates the track pointers.

[2015-07-16 19:02] southpolesteve commented on #68
@nagapampa @prestonaustin I believe this is configurable in the heroku buildpack for ember CLI https://github.com/tonycoco/heroku-buildpack-ember-cli#force-httpsssl

[2015-07-16 19:03] jjg commented on #65
Waiting on @mbrakken's media pointer updates.

[2015-07-16 19:05] prestonaustin commented on #56
@mbrakken Do you think this is linked to other issues with player state updates? An opinion on where to start here would be good.

[2015-07-16 19:07] mbrakken commented on #56
No. Two completely different actions/methods are called, since clicking a
track passes an album & track to the player while clicking the player
buttons just interact with the player.

On Thu, Jul 16, 2015 at 2:05 PM, prestonaustin <notifications@github.com>
wrote:

[2015-07-16 19:08] prestonaustin commented on #74
@jjg did you break this in your work this morning? This is new and impacting multiple people.

[2015-07-16 19:14] prestonaustin commented on #33
@jjg please update this ticket when you finish that and assign to me, thanks!

[2015-07-16 19:23] jjg commented on #74
@prestonaustin afaik the files I migrated are not in use yet, and I didn't make any changes to the original source, so this should be working the same as it was yesterday, from a server perspective?

[2015-07-16 19:27] jjg commented on #74
Just did a quick test with the album in question (to monitor the media file requests) and I was able to begin the first track, click to another track, play for awhile and jump back to re-start the first track (not sure if that's exactly what's being reported here?).  This worked as expected (Chromium on Linux).

Watching the requests, they appear to be hitting ccrjsfs confirming that the new copie

[2015-07-16 19:30] jjg commented on #74
@prestonaustin @mbrakken I did notice that it makes one request, cancels it and then makes a second; not sure if this is relevant but it seemed odd so I wanted to share it:

![multirequests](https://cloud.githubusercontent.com/assets/122858/8733075/33648ef0-2bc7-11e5-80e2-e6a2a1ce6adc.png)

[2015-07-16 19:32] jjg commented on #33
Migration complete but needs media pointers updated by @mbrakken before the new media will be referenced.

I'll send this your way @prestonaustin since I think I'm done, but feel free to send back if that's not right :)

[2015-07-16 19:32] mbrakken commented on #56
The [track] (https://github.com/therabble/ccr-app/blob/master/app/components/y-track.js#L14) handles the click on the track and sends the "play" action. Based on the [template] (https://github.com/therabble/ccr-app/blob/master/app/templates/albums/album.hbs#L48), this calls [`playPause()`] (https://github.com/therabble/ccr-app/blob/master/app/templates/albums/album.hbs#L48) in the application rout

[2015-07-16 19:37] mbrakken commented on #74
@jjg I've noticed this, but I'm not sure what is causing it. Possibly something in soundmanager, or possibly an event is triggering twice (I'm pretty sure I tried debug logging to see if that was the case, and didn't notice a double trigger, though). It's been like that since before this player (tracks on the jury interface did the same).

[2015-07-16 19:45] jjg commented on #74
That's cool @mbrakken, I didn't think it was directly related and it doesn't seem to impede playback, but thought I'd mention it.

[2015-07-16 19:45] mbrakken commented on #69
In almost all (every?) case, this is a data issue. All logos are in one image, and they're positioned based on class names parsed from the url (eg `class="facebook"` if a facebook url). There's no default logo (or image positioning) if we can't parse a matching class.

I don't currently see this occurring in any of the examples above, so I can't really debug it. The most helpful thing would be to

[2015-07-16 19:46] mbrakken commented on #74
@acecarruthers if the person fully refreshes the site, are they still unable to play?

[2015-07-16 19:47] mbrakken commented on #74
Never mind. I'm reproducing. It's not on the streaming side. Debugging.

[2015-07-16 19:49] prestonaustin commented on #55
@mbrakken is this deprecated by @jjg's current work.

[2015-07-16 19:56] prestonaustin commented on #51
@jjg I believe your current work MMS/JSFS will close this ticket, please assign it back to me if that seems untrue.

[2015-07-16 19:56] mbrakken commented on #74
I haven't tested this, but I think it'll fix the problem: https://github.com/therabble/ccr-app/pull/75

[2015-07-16 20:02] prestonaustin commented on #74
@nagapampa Please test and deploy (or deploy for @acecarruthers to test if you can't reproduce problem)

[2015-07-16 20:07] mbrakken commented on #61
will be closed by #76.

[2015-07-16 20:09] jjg commented on #51
I'll still need to define a `fmt` code for MMS to generate these, so I'll keep this open until that's done.

[2015-07-16 20:12] mbrakken commented on #56
will be closed by #77 (implementation of the above code block)

[2015-07-16 20:12] lahollen commented on #30
@jjg can you search for your last email correspondence with Shana (?) at EPL in cataloging to see if we're currently blocked by EPL on this issue?

[2015-07-16 20:19] mbrakken commented on #64
style / positioning is just css. only needs doing. to handle touch screens, I think something like
[code]
within the app boot process (application route?) and then update various things that relate to hover state to always be visible if `body.classList.contains('with-touch')`. This would include some css and some updates in components during their `init()` hook.

[2015-07-16 20:20] mbrakken commented on #64
fwiw, mobile in general needs a thorough overview (login, menu, etc). I just didn't have time for that.

[2015-07-16 20:21] mbrakken commented on #64
also, I have different versions of those mobile menu icons. those were some I hacked together from resources given to me in the wrong format.

[2015-07-16 20:27] mbrakken commented on #64
I just updated the touch detection snippet.

[2015-07-16 20:28] mbrakken commented on #74
I have since tested it. Works as expected (I added that comment in the pr, not here).

[2015-07-16 20:52] mbrakken commented on #55
I don't know yet, although it's presumably still good to have this in as a fallback for slow connections or something.

[2015-07-16 20:53] mbrakken commented on #61
reassigned for test/merge/deploy

[2015-07-16 20:59] prestonaustin commented on #64
@mbrakken you said "I have different versions of those mobile menu icons."
- what needs to happen with those, where are they, who should do it?

[2015-07-16 21:07] mbrakken commented on #56
reassigned for test/merge/deploy.

[2015-07-16 21:16] jjg opened #78 "Update media pointers to use MMS, ccrapi2"
Now that the media stored on ccrjsfs.murfie.com has been migrated to ccrapi2.murfie.com, update client code and API data to reference the files in the new location, and access them exclusively via MMS.

A detailed log of the migration outcome can be downloaded using the link below (I can provide the access_key to interested parties out-of-band).  This file is JSON data representing the processing

[2015-07-16 21:20] prestonaustin commented on #69
@mbrakken This seems clever, but fragile. Can we talk it through on Tuesday
in person and find a way to be more clever about it? Otherwise it seems
like adding a new kind of URL requires a few to several updates to code and
assets.

[2015-07-16 21:21] mbrakken commented on #67
There should in fact already be a progress indicator (for download to browser). #55 relates to that.

@acecarruthers are you rdownloadig during track playback? I was in a big hurry to get the download stuff done so it's likely that the indicator is hidden behind the playbar when the playbar is visible.

[2015-07-16 21:26] prestonaustin commented on #33
@mbrakken Can you update the media pointers and ping me on this ticket
after? If you can't do that right away, please assign yourself (I'm not
sure how via email).

[2015-07-16 21:30] prestonaustin commented on #68
@nagapampa if you think Steve's suggestion will work, please self-assign
this ticket and try that, otherwise let me know you are blocked here and
need a better answer and I'll pick it up Tuesday.

[2015-07-16 21:30] mbrakken commented on #57
FYI, I couldn't reproduce. It worked as appropriate. Possibly, the handler was blocked/deferred due to image download/rending.

[2015-07-16 21:32] mbrakken commented on #69
Yeah. This was the version based on what existed, both in terms of data structure and actual data. A generic fallback image probably makes sense, at least for the interim. We'd want to include that (both color versions) on the same sprite sheet, ideally in a way that doesn't displace positioning of anything already on it (eg appended to the right of the existing images).

[2015-07-16 21:33] prestonaustin commented on #57
Please ask John to retest, and close the ticket. He can reopen if it fails.

[2015-07-16 21:34] mbrakken commented on #66
this should be as easy as changing the type attribute on the input to password.

[2015-07-16 21:35] mbrakken commented on #57
@JohnAtMurfie can you retest? :)

[2015-07-16 21:35] prestonaustin commented on #69
*barfs*

[2015-07-16 21:36] mbrakken commented on #64
![mobile-icons](https://cloud.githubusercontent.com/assets/1530955/8735745/bd44013a-2bd8-11e5-808e-c16c77fd2ed8.png)

[2015-07-16 21:37] mbrakken commented on #64
this is the png sheet I now have, with transparent background. I was planning to colorize and duplicate these to make one sheet with blue and white versions. The initial set I had as jpg on white, so frayed edges in currently deployed version are the result of my non-photopshopy skills.

[2015-07-16 21:45] JohnAtMurfie commented on #57
@mbrakken I am able to duplicate the issue. When I go directly to the posters page, then click the logo, it works. If I start at the main page, then go to the posters page, clicking the logo doesn't work for me. I didn't realize this when I submitted the ticket.

@prestonaustin GitHub will not allow me to reopen this ticket. I can only comment.

[2015-07-16 21:49] prestonaustin commented on #57
Reopened, this should be enough for @nagapampa to work with when she gets to this one.

[2015-07-16 21:56] mbrakken commented on #33
It's on my list. I'll get to it a bit later. It's easy, but slow (unless I
come up with something clever to automate it).

On Thu, Jul 16, 2015 at 4:26 PM, prestonaustin <notifications@github.com>
wrote:

[2015-07-16 21:56] mbrakken commented on #69
oh, it's not that bad :)

[2015-07-16 22:06] mbrakken commented on #64
I'm not sure if I should still be assigned this or not. I think @nagapampa could handle this from here, but that there's a chance it'll come back to me anyways. I'm unassigning myself for now, to show it as "available to be picked up by someone".

[2015-07-16 22:08] mbrakken commented on #78
I'll try to get to this later tonight.

[2015-07-16 23:11] acecarruthers commented on #73
I do not know the card number of the tester. My card did not work on my phone, so I will email you my card number and PIN. I tried my account on my iPad and desktop and it was fine. So it appears to just be a phone issue. I tried the EPL-ADULT test authentication account on my phone and it worked fine, too.

[2015-07-16 23:16] acecarruthers commented on #72
![ccr_launch2_artbox_980x596_1_v6](https://cloud.githubusercontent.com/assets/7355887/8737352/499adaa0-2bde-11e5-8bd6-9ac179cf59c5.png)

[2015-07-16 23:18] prestonaustin commented on #72
Ooooh...pretty :)

[2015-07-16 23:28] acecarruthers commented on #67
hey yeah, I _was_ downloading during track playback and so was the other tester. I tried downloading without the playback and I saw the indicator. It looks good. Could it float above the playbar when the playbar is visible?

[2015-07-17 00:17] nagapampa commented on #72
PR created and merged into master

[2015-07-17 00:17] #72 closed

[2015-07-17 00:47] #56 closed

[2015-07-17 00:59] #74 closed

[2015-07-17 01:49] nagapampa commented on #66
Merged into master.  In next deploy.

[2015-07-17 01:49] #66 closed

[2015-07-17 01:49] nagapampa commented on #57
Merged into master.  In next deploy.

[2015-07-17 01:49] #57 closed

[2015-07-17 03:34] prestonaustin commented on #47
I'm unassigning this until Production Ready stuff is done, then we can revisit its priority and spec. Unclear to me that this doesn't change since it's not needed for CSI/SOCAN anymore.

[2015-07-17 03:36] prestonaustin commented on #25
This should most likely wait until after @jjg has had a whack at changes to MMS to support crop, format, precise size, and compression control in client calls. So probably we do this one last.

[2015-07-17 03:41] prestonaustin commented on #73
@jjg do you have logging we could look at to see what these 2 cards do different? If so please coordinate a test with Lisa. I'm baffled as to why some cards would work and others fail on the same phone, with the failing ones then working on iPad and Desktop. Spooky.

[2015-07-17 03:42] prestonaustin commented on #44
Moving to Post Launch but we way wish to reverse that if we get more info.

[2015-07-17 03:46] prestonaustin commented on #63
@acecarruthers please assign to Carie after you have the code.

[2015-07-17 03:51] prestonaustin commented on #53
@jjg I'm not going to constrain how this works at all I've decided. But we want, in order, to have client call be able to request the image with a specific format, crop (portion of its original source dimensions to return), size, and level of compression. If the only supported output were jpg at first, that's fine, as that's what this is 99% for right now.

[2015-07-17 13:40] jjg commented on #65
Currently blocked by https://github.com/therabble/ccr-app/issues/78, reassigning but if still an issue after 78 is closed, please send it back my way :)

[2015-07-17 13:47] jjg commented on #30
Here's the latest info I have on this.  I emailed a sample MARC record to Shona that was generated with this script:

     https://github.com/therabble/musicat-api/blob/master/experimental/marcgen.js

Here's the notes from Shona's review of the file:

Hi Jason,

Suggested edits to the first sample record can be seen below in red text. The 505 subfield g playing time is an optional element, and so

[2015-07-17 13:53] jjg commented on #73
We can probably use the standard API server logging to sort this out, however I want to make sure I have a crystal-clear understanding of the error.

The same card:

*  Works on iPad and a desktop computer
*  Fails on Phone

Is that correct?  If so, does *any* card work on said phone, or are all attempts to use a card failing on the phone?

Additional helpful details:

*  Desktop O/S version, brow

[2015-07-17 13:55] jjg commented on #53
Is jpg required or is png (already supported) acceptable?

[2015-07-17 13:56] lahollen commented on #30
@prestonaustin can you review please and let me know if further actions should be taken or I should reassign to someone

[2015-07-17 14:14] prestonaustin commented on #53
If implementation supports jpg compression in the PNG container, it's fine.
(Compression is an issue, currently some images are cray cray hugemongous :)
On Jul 17, 2015 8:55 AM, "Jason Gullickson" <notifications@github.com>
wrote:

[2015-07-17 14:19] prestonaustin commented on #30
This can be assigned as is imo. Doing this on the client side might be an
ideal starter task for JD. It's an isolated chunk of output that can be
built from existing endpoints. Basically, we could add a view as MARC path
to the public app, make these edits to the output, and also include links
to a largish album graphic per @acecarruthers more recent request.

On Jul 17, 2015 8:56 AM, "Lisa Hollen

[2015-07-17 17:24] mbrakken commented on #78
Pointers for all completed submissions (including the one not yet published) have been updated and tested. There are still 4 submissions yet to be completed by artists, and I haven't touched those. The migrations itself has been show to be successful, so I think we can take care of those remaining ones as necessary. Many artists (~40%?) uploaded new versions of their tracks, replacing the initial

[2015-07-17 17:26] mbrakken commented on #78
I believe this is done, with the above caveat about the remaining 4 albums. I'm going to close. Reopen if appropriate.

[2015-07-17 17:26] #78 closed

[2015-07-17 17:31] mbrakken commented on #65
Pointers have been updated. FWIW, I had noticed this intermittently, and was wondering if it was related to formats or legacy storage issues. I just tested the above listed 3 albums, and they all played as expected. Firefox, 39.0, OSX 10.9.5

[2015-07-17 17:32] mbrakken commented on #65
I'm going to close this @prestonaustin, since tracks seem to play fine for me. Please reopen @acecarruthers if this issue resurfaces.

[2015-07-17 17:32] #65 closed

[2015-07-17 19:20] acecarruthers commented on #71
Final beta tester noted that they couldn't access "My Collection" from the mobile site. I figure My Collection will be revealed along with the other hidden copy behind More, but I thought it was worth saying explicitly.

(tester, iPhone, iOS, Safari, 16 July, 1:13 pm MT)

[2015-07-17 19:58] acecarruthers commented on #73
yes the same card worked on tablet and desktop computer, but did not work on phone. Once the login error message appeared on my phone, the keyboard covered up the library card number box and so I couldn't try any other cards. I did double check that I had put in the correct card number (but I suppose it is still possible that I put it in wrong)

Windows 7, Firefox 39.0 - desktop
Samsung Galaxy S6,

[2015-07-17 20:05] lahollen commented on #73
@jjg check your gmail inbox for @acecarruthers library card and EPL-ADULT test authentication account

[2015-07-17 20:09] jjg commented on #73
Got the credentials, I'll take a look now.

[2015-07-17 20:11] acecarruthers opened #81 "update EPL logo"
our design team has requested you use the EPL logo at the link below instead of the one that is currently there in the footer.

https://drive.google.com/open?id=0B56HcVGi1B3nNXJYMU5UQ3dtOGM

[2015-07-17 20:19] jjg commented on #73
Bummer, it worked ;)

Here's the log slice from my login attempt.  I don't have an Android phone to test with so I tried it with my phone (iPhone 5s), here's the results (minor details changed for privacy):

[code]

I'm going to check on IM to see if anyone is handy who can test with an Android handset to see if that has a different result, otherwise maybe I can borrow @prestonaustin's old phone n

[2015-07-17 20:37] prestonaustin commented on #73
for the record, also just worked fine on my Nexus6 (on fast WiFi) and
Julie's iPhone (on decent Verizon LTE).

On Jul 17, 2015 3:19 PM, "Jason Gullickson" <notifications@github.com>
wrote:

[2015-07-17 20:48] jjg commented on #73
After some testing we can rule out this being an issue with the SIP gateway authentication mechanism (it doesn't come into play after the user account is created).

Looks like a very tricky (and specific) client issue, I'm going to assign this over to @lahollen for reassignment but let me know if it looks like something internal to the API or if you need access to logs to debug.

[2015-07-17 21:09] lahollen commented on #73
@nagapampa see convo above and in hangout - if I'm wrongly assigning you go ahead and assign to the right party

[2015-07-20 16:33] acecarruthers commented on #69
@mbrakken encountered another one of these today. The URL links to the artist website, which reminded me that the earlier examples from the tester were also linking to the artists' websites.

http://wax.capitalcityrecords.ca/artists/jesse-and-the-dandelions
artist website: http://jesseandthedandelions.com/

[2015-07-20 18:14] acecarruthers opened #82 ""Nice to Have" Suggestions from User Tests"
Your Collection
- When you click "Add to Your Collection" and are prompted to log in, the album is automatically added to your collection once you have logged in.
- album shuffle: you can shuffle the songs within the album, or in "Your Collection" you can highlight a couple albums and they will all be shuffled together
- "remove from collection" possible from Your Collection page. Suggested UX: a

[2015-07-20 19:27] lahollen commented on #30
@jdlien I'm assigning this ticket to you! See convo above and follow up with any questions you have by tagging with the @.

[2015-07-20 19:38] mbrakken opened #83 "Switch from MTC to MMS"
Relevant code is in [services/player.js] (https://github.com/therabble/ccr-app/blob/master/app/services/player.js), the [`playSound()` method] (https://github.com/therabble/ccr-app/blob/master/app/services/player.js#L57).

Currently, I'm not sending mp3, ogg, mp4, or m4a through MTC, due to various issues with playback. We should assess if we also need to keep those formats from hitting MMS (altho

[2015-07-20 22:45] acecarruthers opened #84 "Text and design edits"
- [x] in FAQ under "Does this have anything to do with EPL's Makerspace" please link the text "The Makerspace" to www.epl.ca/makerspace (http://wax.capitalcityrecords.ca/faq)
- [x] The login pop up says "Woah there! We'll need you to give us some more information to access that." I really like this message when someone tries to download something and is surprised by the pop up, but as one of our u

[2015-07-20 23:00] acecarruthers commented on #67
The download indicator does not appear on my iPad screen.
iOS 8.3, Safari 8, 20 July, 4:50pm MT.

[2015-07-20 23:37] acecarruthers commented on #61
Album name doesn't change when you switch albums. See screen shot.
Consistently showed up this way for multiple albums on:
windows 7, firefox & chrome,
iPad, iOS 8.3, Safari 8
20 July 5:30pm mt

![soooplaybar_err](https://cloud.githubusercontent.com/assets/7355887/8790009/eadddd52-2f05-11e5-8f18-7e40af6eff5e.jpg)

[2015-07-21 01:02] jjg commented on #67
Can iOS devices download media files?

[2015-07-21 14:54] jjg commented on #53
I left this issue open for tracking purposes but all further work will be tracked under:

 https://github.com/murfie/mms/issues/33

Feel free to close this Issue if appropriate @prestonaustin

[2015-07-21 15:36] lahollen commented on #81
@acecarruthers can you give us a PNG version of this logo? Thanks!

[2015-07-21 17:13] acecarruthers commented on #67
I have not successfully downloaded anything on my iPad yet.

[2015-07-21 17:48] acecarruthers commented on #81
Sure!
![epl_ca_logo_right_colour](https://cloud.githubusercontent.com/assets/7355887/8808195/55530728-2f9e-11e5-8df7-5de38ef4ccc4.png)

[2015-07-21 18:18] nagapampa commented on #81
Will be in next deploy

[2015-07-21 19:17] nagapampa commented on #84
These are complete and deployed except for the introductory text on the About page.  @acecarruthers Can you create a new ticket for that when it's available?

[2015-07-21 19:17] #84 closed

[2015-07-21 19:17] #81 closed

[2015-07-21 19:18] nagapampa commented on #70
Deployed.  I tested on my Android and this wasn't happening anymore.  @acecarruthers can you test on your iPhone as well?

[2015-07-21 19:18] #70 closed

[2015-07-21 19:18] jjg commented on #68
DONE!

(pls test @prestonaustin )

[2015-07-21 19:24] prestonaustin commented on #68
Worked. Pleez cloze :)

[2015-07-21 19:24] #68 closed

[2015-07-21 19:52] mbrakken commented on #63
Per meeting today, I'm assigning this to @jdlien since it means poking into the code base but pretty much stands alone.

There's an example on [ember guides] (http://guides.emberjs.com/v1.13.0/cookbook/helpers_and_components/adding_google_analytics_tracking/), although I don't know if it's current. It seems like a good place to start.

NB: Initially I was going to suggest doing this as a service,

[2015-07-21 19:53] mbrakken commented on #63
Pinging @nagapampa so she gets updates to this thread.

[2015-07-21 20:03] mbrakken opened #86 "Update image urls through mms"
MMS now (or soon? paging @jjg for clarification) supports specifying width and format. We'll want to update image urls accordingly.

Currently, MMS image urls are properties on a model ([album] (https://github.com/therabble/ccr-app/blob/master/app/models/album.js#L64), [artist] (https://github.com/therabble/ccr-app/blob/master/app/models/artist.js#L100), [poster] (https://github.com/therabble/ccr-

[2015-07-21 20:53] acecarruthers commented on #70
I wasn't able to test it on the original phone that noted the problem (wasn't mine), but it looks and works great on my colleague's iPhone 6.

[2015-07-21 20:58] prestonaustin commented on #70
Let's close this then, unless we hear bad things from the world about it :)

[2015-07-21 21:03] mbrakken opened #88 "track playback progress ui"
Dependent on #8 and conversion of all tracks to wav. Show playback progress in player.

There's some wip on this in https://github.com/therabble/ccr-app/compare/position, but it may make sense to more or less scrap that branch. The version on the linked branch calculates position off the duration read by the audio element. We could also calculate position off track length saved on track json after

[2015-07-21 22:36] acecarruthers opened #89 "Replace banner on artist page"
Please replace current banner on Jesse and the Dandelion's artist page with the image below. https://wax.capitalcityrecords.ca/artists/jesse-and-the-dandelions

![dandelions-header](https://cloud.githubusercontent.com/assets/7355887/8814141/7fad34d0-2fc6-11e5-8d5b-c10c20d3adf0.jpg)

[2015-07-21 22:47] acecarruthers commented on #63
Tracking code for @jdlien

[code]

[2015-07-22 15:32] #53 closed

[2015-07-22 15:35] jjg commented on #86
Support for JPEG and scaling deployed, example here:

https://github.com/murfie/mms#transcode-large-jpeg-into-small-jpeg

Note that you can only specify the width (height is calculated to preserve aspect ratio).  This has been tested with JPEG input and ouput.

[2015-07-22 15:44] prestonaustin commented on #86
Note that this can also now be used to call our "static" images, so if we
want to leave top resolution images (like the home page banners) in the
repo for things we don't have a publishing chain for, we can still call
those graphics via MMS (in theory) rather than creating multiple static
versions for CSS breakpoints. This is worth doing even when we are not
resizing or changing format of that sou

[2015-07-22 18:01] jjg commented on #88
All tracks stored on ccrapi2 should now be available in wave format.  Original versions have been preserved at their original locations, and new paths are identical but for a ".wav" extension.

[2015-07-22 18:02] jjg commented on #83
All tracks stored on ccrapi2 should now be available in wave format.  Original versions have been preserved at their original locations, and new paths are identical but for a ".wav" extension.

[2015-07-22 18:02] jjg commented on #62
All tracks stored on ccrapi2 should now be available in wave format.  Original versions have been preserved at their original locations, and new paths are identical but for a ".wav" extension.

[2015-07-22 18:35] nagapampa commented on #61
Unbound this field.  Will be in next deploy.

[2015-07-22 18:37] #61 closed

[2015-07-22 18:41] nagapampa commented on #71
Should we hide the banner completely on mobile?

[2015-07-22 18:46] nagapampa commented on #71
@acecarruthers Would you like to hide the banner completely on mobile?  Or I can try making the text smaller...  Scaling the images will make the banner really small and make the text hard to read.

[2015-07-22 19:03] nagapampa commented on #73
@acecarruthers I am able to log into your account on my Android Samsung S5 (Verizon).  Can you please retest?

[2015-07-22 19:15] acecarruthers commented on #73
@nagapampa I just retested and it worked. Thanks!

[2015-07-22 19:16] nagapampa commented on #73
@acecarruthers I'd like to say I fixed it, but I'm not sure what happened.  Maybe it had something to do with the formatting of the modal that I fixed yesterday.  Can this be closed?

[2015-07-22 19:22] acecarruthers commented on #73
I think so,yes

[2015-07-22 19:24] #73 closed

[2015-07-22 20:01] acecarruthers opened #90 "Revise text on about page"
Replace current text at the top of wax.capitalcityrecords.ca/about (currently "Capital City Records is a digital public space ... and realized by Rabble.") with text on following Google drive page. I added where the links should go in comments.
@nagapampa this is the remaining issue from #84

https://drive.google.com/open?id=17umg7G6kQRy2N6qkUT_-ekWzhBjLLcvabQl_vtvTzUo

[2015-07-22 21:08] acecarruthers commented on #71
@nagapampa is it possible to hide the banner on phone screens and scale it so it is a bit smaller on tablet screens? Or have you tested it on a tablet-sized screen and see that it is too small?

[2015-07-23 15:18] #89 closed

[2015-07-23 16:31] nagapampa commented on #86
@mbrakken was this implemented in that PR you created earlier this week?  I see poster images using this code:
mmsURL: ENV.MMS + '/tc?src=',
and album/artist images using mms.  What else needs to be completed on this?

[2015-07-23 16:34] lahollen commented on #8
@mbrakken can you give an update on this ticket?

[2015-07-23 16:34] nagapampa commented on #88
@mbrakken you said this is dependent on #8 (assigned to you) and all tracks to wav (completed by @jjg)

Did you need me to do something on this?

[2015-07-23 16:35] lahollen commented on #28
@mbrakken can you give an update on this ticket?

[2015-07-23 16:35] lahollen commented on #83
@nagapampa can you pick this up or do you need anything from @mbrakken?

[2015-07-23 16:36] lahollen commented on #69
@mbrakken do you have an update from daniella?

[2015-07-23 16:47] nagapampa commented on #90
Will be in next deploy

[2015-07-23 16:59] lahollen commented on #62
@jjg is this resolved?

[2015-07-23 17:00] lahollen commented on #58
we think this will be closed by other issues. report new problems in new issues.

[2015-07-23 17:00] #58 closed

[2015-07-23 17:01] #33 closed

[2015-07-23 17:02] lahollen commented on #33
we believe this is closed by mms pointer updates

[2015-07-23 17:16] acecarruthers commented on #33
When is a good time to test it out?

[2015-07-23 17:45] prestonaustin commented on #33
@acecarruthers please hold off on tests until my next update, currently
expected later this afternoon after Marc is able to check in. We need to
ensure all work in progress is deployed and testable.

On Jul 23, 2015 12:16 PM, "acecarruthers" <notifications@github.com> wrote:

[2015-07-23 17:52] #90 closed

[2015-07-23 18:03] acecarruthers commented on #30
Just touched base with Shona about this. Here is some pertinent information that she shared with me:
- after you are both satisfied that the test record is formatted correctly we'll need to do a test load of some records into BiblioCommons
- sometimes formatting in BiblioCommons is touchy so it may have to be run a few times
- there can be a lag in how often BiblioCommons refreshes their catalogue

[2015-07-23 18:40] nagapampa commented on #71
@prestonaustin
Can you clarify this: Move EPL logo/link above the mobile menu

[2015-07-23 18:47] prestonaustin commented on #71
I _think_ in the menu at the bottom, on phones, overlaps the bottom logo.
So, I believe we need to add some buffer at the bottom of the page so the
logo comes up over the menu. May need clarification from @acecarruthers if
that is not correct. This may only happen on very narrow devices.

On Jul 23, 2015 1:40 PM, "Carie Rogers" <notifications@github.com> wrote:

[2015-07-23 18:52] nagapampa commented on #71
@acecarruthers We could add the logo to the bottom, however this would eat up space on a mobile device.  I could try adding the footer logo if the text was removed and it was just the main logo part (if that makes sense), and adding the logo to the right of the More... button.  Thoughts?

[2015-07-23 18:54] prestonaustin commented on #71
I like that option as well, FWIW.

[2015-07-23 19:28] acecarruthers commented on #71
Here's a screenshot of the site on an iPhone 6 (it also looks like this on an iPhone 5). I think @prestonaustin's first thought was right that the logo should come up over the menu.  My phone has a wider screen and this is not an issue.

(I also like the idea of just using the coloured bar part of the EPL logo, but our Marketing department is pretty particular about using the text and coloured bar

[2015-07-23 19:52] acecarruthers opened #91 "album art not always loading"
Album art in the playbar does not always load (as below) sometimes the same happens with album art on the album pages. In the example below, none of the album art initially showed. Then, once the first song was done and it moved to the left on the playbar, the album art appeared.

I've noticed this a few times. It doesn't always happen, but it has happened enough that I thought I'd mention it just

[2015-07-23 19:59] nagapampa commented on #71
![footer logo](https://cloud.githubusercontent.com/assets/2964839/8860714/318435e8-314b-11e5-9148-6747d3d3c48e.png)

@acecarruthers This is a screenshot from my Android Samsung S5.  Is this right?  If so, I'll see if I can add more padding from the bottom so it shows up for you.

[2015-07-23 20:18] prestonaustin commented on #71
Could we crop just the "EDMONTON PUBLIC LIBRARY" text part off the left of
just the bottom logo, to avoid the overlap that is stacking the logo below
the "ABOUT  FAQ" text links on narrow widths?

That treatment is quite wide for flexibility on mobile, this will look
better on, and take less vertical space between content and bottom nav on,
narrow mobile screens.

[2015-07-23 20:53] jjg commented on #62
Need to verify with @mbrakken that the pointers are updated and then this can be re-tested.

[2015-07-23 22:23] nagapampa commented on #71
@acecarruthers Can you test all the changes requested in this ticket except for: player buttons too small and difficult to use (can you tell me what you'd like to see for this - a bigger button/row/etc?)

I tested using Chrome's views for mobile including the iPhone and it looked good, but it's not the real thing.  Thanks.

[2015-07-23 23:04] acecarruthers commented on #71
The more button was working great. The banner was gone and it looked good. The EPL logo resizing looks extra good on my Samsung now, but is still very hard to access on the iPhone. With the resizing, the About and FAQ links are also hard to access. It might have to do with the little Safari navigation bar at the bottom maybe? Here's the new screenshot:

![iphone6new](https://cloud.githubuserconten

[2015-07-24 17:51] jjg commented on #51
It's become clear that it's not possible (at least with an ffmpeg-based transcoder) to stream output in an MP4 container.

To support this is going to require either a different transcoder, or an MMS mode that doesn't "pipeline" the transcoding process.  This doesn't rule out the appearance of a streaming mode, but it means that MMS will essentially have to buffer the transcoding output before del

[2015-07-24 18:23] jjg commented on #51
After looking into pipelining options for mp4 it looks like buffering is going to be the way to do this.

[2015-07-24 18:51] lahollen commented on #67
@nagapampa can you give an update on this ticket?

[2015-07-24 19:02] prestonaustin commented on #64
@nagapampa I believe you should be in a position to finish this one off, once we get the art from Daniella to do so.

[2015-07-24 19:12] lahollen commented on #86
@acecarruthers since marc is out can you check this?

[2015-07-24 19:16] acecarruthers commented on #86
@lahollen is there a chance you meant someone else? I wouldn't know how to check this.

[2015-07-24 19:17] lahollen commented on #86
oops! sorry! i meant @nagapampa

[2015-07-24 19:20] lahollen commented on #62
retest after #8 #51 #83 close and deploy

[2015-07-24 19:23] lahollen commented on #28
@jjg do you think you can directly rewrite the metadata for this ticket so that @nagapampa could finish it off without Marc?

[2015-07-24 19:24] lahollen commented on #28
@jjg really this question is about #8

[2015-07-24 19:59] lahollen commented on #64
@nagapampa link to art: https://www.dropbox.com/s/abwyrzevqkyi631/mobile-icons-v2.png?dl=0

[2015-07-24 20:00] lahollen commented on #69
@nagapampa links to art:
https://www.dropbox.com/s/rlqoh518le7k0te/social-media-icon-v2.png?dl=0
https://www.dropbox.com/s/zhfu28b42pqlsqo/social-media-icon-grey-v2.png?dl=0

[2015-07-24 20:29] jjg commented on #51
I added what I'd consider "experimental" support for AAC in MP4 containers to MMS.  A build that supports this has been deployed in to production, the `fmt` specifier for this new format is `aac_mp4`.

I have tested the basic functionality using this build to generate .m4a audio files and it appears to work as it should.  A request for this format takes longer to start receiving data than previous

[2015-07-24 20:48] lahollen commented on #51
@nagapampa can you test this?

[2015-07-24 20:49] prestonaustin commented on #51
For reference @jjg, this is used in the application on clickable download links for tracks, so each track carries a link to download it in mp3, aac, alac, or flac. In theory, streaming mode would avoid using anything but mp3, but in practice we might use the m4a aac for that as well on some apple browsers.

[2015-07-24 21:50] acecarruthers opened #92 "Replace banner image for artists"
Please replace the artist banner for Souljah Fyah (https://wax.capitalcityrecords.ca/artists/souljah-fyah) with image 1 below.

Please replace the artist banner for Mad Bomber Society (https://wax.capitalcityrecords.ca/artists/mad-bomber-society) with image 2 below.

Image 1:
![sjf2-1](https://cloud.githubusercontent.com/assets/7355887/8885224/d084ac98-321a-11e5-85e0-f0cab1e6a5a7.JPG)

Image 2:
![

[2015-07-24 22:16] acecarruthers commented on #30
The max width for the album art thumbnails is 135px

[2015-07-24 22:22] prestonaustin commented on #30
We'll then populate the appropriate MARC value with URLs that return
exactly 135px assets, to offer the best quality result that fits this
constraint.

On Jul 24, 2015 5:16 PM, "acecarruthers" <notifications@github.com> wrote:

[2015-07-25 00:37] nagapampa commented on #86
Album, artist and poster are all using MMS.

[2015-07-25 00:37] #86 closed

[2015-07-25 00:49] nagapampa commented on #69
@acecarruthers This is happening because of incorrect data input.  I went to the review and publish for:
http://submissions.capitalcityrecords.ca/review-and-publish/submissions/jesse-and-the-dandelions-a-mutual-understanding

Look at the social media input.  There WAS an extra comma here at the end (http://www.facebook.com/jesseandthedandelions, https://twitter.com/jessedandelion,).  When this hap

[2015-07-25 00:58] nagapampa commented on #67
Changed z-index of player to be less than the download progress bar.  Now the bar will always be on top.

[2015-07-25 00:58] #67 closed

[2015-07-25 01:18] nagapampa commented on #71
@acecarruthers Can you test on your iPhone the logo at the bottom again please?  I added more margin to the bottom of the footer.

[2015-07-25 01:25] nagapampa commented on #64
@prestonaustin @lahollen
Did you want me to just always show the download icon?  (instead of the mouse over effect)
Also, what is the new art linked here?  Are the icons changing to be black now?  This sprite doesn't have a rollover color either.

[2015-07-25 01:34] nagapampa commented on #51
@prestonaustin I'm not quite sure how to test.  I am able to download and listen to mp3 and acc - not flac and alac.

[2015-07-25 01:36] nagapampa commented on #91
@prestonaustin I am unable to reproduce.

@acecarruthers Can you update this when it happens again and try to include a screenshot of the console to show any possible errors (press F12 in Chrome and go to console)

[2015-07-25 01:41] nagapampa commented on #71
@prestonaustin Can we create a new ticket to tweek the album player in mobile?  If the play button gets bigger, the row needs to be bigger as well.

[2015-07-25 02:14] prestonaustin commented on #64
mouse over effect)

Yes let's try that.

now? This sprite doesn't have a rollover color either.

Hmmm, I didn't spec this so I'm not sure. Let's open a new ticket for the
nav art update and set it aside from this milestone. This can be improved
at any point.

[2015-07-25 02:15] prestonaustin commented on #51
What URL are we calling for AAC?

[2015-07-25 02:28] prestonaustin commented on #71
Yes, I'll close this ticket tomorrow and open a new one for that player
design work. I need to find a smaller phone and get a feel for the problem
too.

[2015-07-27 04:40] mbrakken commented on #83
#87 took care of the switch. There are still 3 tracks not in wav on production, do to some strange artifact. I'll check in with @jjg on Monday about those.

[2015-07-27 04:45] mbrakken commented on #62
All pointers, with the exception of three tracks from Look Away, have been updated. MMS is in use on production as well.

[2015-07-27 13:55] mbrakken commented on #8
I put together a jsfs pr that should allow me to access the response headers. I have a script mostly written to update all tracks, just waiting on the jsfs update.

A cursory look tells me that this won't resolve all cases. Files that were already in wav format don't appear to have duration headers, but those should become obvious.

[2015-07-27 14:04] jjg commented on #8
@mbrakken  can you give me an example of a WAVE file that doesn't have the duration header?  I expect that they all should, but maybe I overlooked something.

[2015-07-27 15:59] mbrakken commented on #8
Just for thread reference, I send @jjg relevant urls.

For posterity, short script:
[code]

[2015-07-27 17:46] acecarruthers commented on #25
I went through the artist banners/thumbnails that needed revision and recorded the dimensions and coordinates of the new better thumbnails. Some of the artists in the list above ended up being best as they are now. I added a few others. It is all in this spreadsheet:
https://drive.google.com/open?id=1tQZmrZzCi1MopX5n0HkBV8QFzR-X8aIsZYBm8ScJ-8A

Do you need JPEGs of the cropped thumbnails or are th

[2015-07-27 17:52] prestonaustin commented on #25
Cropped .png files at or above the larger display size (in pixels) for the
thumbnails in question would accelerate the work and maximize quality. The
MMS already handles sizing, format, and compression of images, so no need
to compress sources. It's just cropping and aspect ratio adjustments it
isn't currently configured to do.

@jjg @mbrakken jump in if I'm wrong here

On Jul 27, 2015 12:46 PM, "

[2015-07-27 18:23] acecarruthers commented on #69
I just encountered another one of these on http://submissions.capitalcityrecords.ca/review-and-publish/submissions/choir-and-marching-band-life-found-on-superhot-body-only-one-light-year-away

Beside the facebook logo was the vimeo logo linking to the artist website.
![droplogo_choir_7272015](https://cloud.githubusercontent.com/assets/7355887/8914060/30862bc6-345a-11e5-859f-4e08689819ea.jpg)

On t

[2015-07-27 18:30] mbrakken commented on #64
RE: colors, I had planned to take the base sprite and turn it into a single sheet with 2 versions of each, white and the blue in use. I can mux with it.

[2015-07-27 18:33] acecarruthers opened #93 "Show More button not revealing more text"
Clicking "Show More" on the last three artist pages I visited resulted in a strange glitch. Screenshot below from https://wax.capitalcityrecords.ca/artists/death-by-robot

![showmore_7272015](https://cloud.githubusercontent.com/assets/7355887/8914168/f5560c78-345a-11e5-9f96-7c0baca42ec4.jpg)

The "Show More" text disappears, but the rest of the artist bio does not appear. When I click anywhere on

[2015-07-27 18:54] mbrakken commented on #64
![mobile-icons-v3](https://cloud.githubusercontent.com/assets/1530955/8914830/0b331930-3467-11e5-94d4-b4f35ab5e3e4.png)

[2015-07-27 18:55] mbrakken commented on #64
There are white versions in that image :)

[2015-07-27 19:08] prestonaustin commented on #83
@mbrakken Please close this ticket as soon as those three are switched.

[2015-07-27 19:09] prestonaustin commented on #62
@mbrakken @jjg Anything blocking this?

[2015-07-27 19:10] prestonaustin commented on #28
@mbrakken I'm assuming you are working on this today (monday) please update this ticket end of day if unclosed.

[2015-07-27 19:12] prestonaustin commented on #92
@nagapampa Could @acecarruthers do this directly and republish? (If that's blocked I should learn why, and probably create a post production issue to fix/enable that in our meeting Tuesday)

[2015-07-27 19:14] prestonaustin commented on #91
I sort of expect this to come back, but various continuing improvements to MMS may be concealing a race condition (basically, making a bug not show up) so I'm closing it until we have more information to work with.

[2015-07-27 19:14] #91 closed

[2015-07-27 19:15] #71 closed

[2015-07-27 19:17] mbrakken commented on #28
Will be closed by #94

[2015-07-27 19:17] prestonaustin opened #95 "Larger Player Buttons for small mobile screens"
Player buttons are too small and some finding them hard to use.
@acecarruthers could you provide screenshots if you have them from some small devices and mark up your thoughts on how big you would like things? We'll propose a design I just want a sense of what you are thinking from the feedback you received.

[2015-07-27 19:22] prestonaustin commented on #69
@mbrakken can you confirm that @nagapampa has the art needed to wrestle this issue to the ground? If we cannot fix the current sprite and substring-mapping approach to this today, I believe we should scrap that approach and this design temporarily, replace it with something less fragile so we don't risk stuff being graphically broken and do have the links available, and revisit implementation of t

[2015-07-27 19:27] prestonaustin commented on #64
@nagapampa @mbrakken I'm unclear what still needs doing here. If anything does, let's create new independent tickets for anything on download touch UX, or mobile menu, that remains end of today and close this.

[2015-07-27 19:30] mbrakken commented on #93
We have a series of strange, intermittent issues like this one. See also #91,#57, #34, and some other artifacts I can't track down issues for. My leading guess is that this remains related to memory issues, so we may need to look for memory leaks. There was a memory leak in ember's glimmer rendering engine that was recently closed off, so we may need to update from 1.13.0 to 1.13.5 (glimmer was in

[2015-07-27 19:31] prestonaustin commented on #51
@nagapampa @jjg I still don't know if we have tested @jjg new fmt specifier for this new format, "aac_mp4" - Carie did you update the calling code before testing? If not, that certainly needs doing.

[2015-07-27 19:31] acecarruthers commented on #92
The admin interface for publishing artist pages doesn't allow me to replace banner images, unless I'm missing something.
http://submissions.capitalcityrecords.ca/review-and-publish/submissions

[2015-07-27 19:35] mbrakken commented on #92
There currently isn't an interface for @acecarruthers to upload new art, to respect the assumed terms of the license (artists submit content on sign a license for it specifically).

It'd be pretty easy to add capability to update an image, I think, bearing in mind that it could be used at cross purposes (there's no way to prevent uploading any random image, other than good behavior). However, I'm

[2015-07-27 19:36] mbrakken commented on #83
That's my plan @prestonaustin.

[2015-07-27 19:40] prestonaustin commented on #93
@acecarruthers See Marc's last sentence above, any sense of how far into
using the app these things are happening for testers?

[2015-07-27 19:43] acecarruthers commented on #93
I had been on the site for probably three hours before I noticed. I didn't try to click "See More" until around three hours.

[2015-07-27 19:44] mbrakken commented on #45
Relates to #25. I think mostly we need clarity of what's supposed to happen here, given licenses, exposure, etc.

What should be the process when a librarian changes licensed media after a license has been signed? Once that's established, we can figure out how it fits in, or doesn't, with the current publishing workflow.

[2015-07-27 19:46] prestonaustin commented on #92
let's just load these for Alex then, I'll follow up on the missing admin
capability elsewhere.

[2015-07-27 19:49] prestonaustin commented on #93
Marc is probably right then, we are likely evading garbage collection
somewhere. @acarruthers, did the site (or your computer) seem to get less
responsive to clicks over time?

[2015-07-27 19:50] acecarruthers commented on #93
Not that I noticed.

[2015-07-27 19:51] prestonaustin commented on #45
We'll add an administrative capability for librarians to replace the assets
from artists and a note there stating one must:

"Use a version of the licensed asset, not an alternative image or track, to
ensure compliance with artist license terms."

And then maybe a notification to artist, but only after the capability
works and is tested as it's quite reasonable to swap covered assets within
the li

[2015-07-27 19:53] mbrakken commented on #51
#96 should allow testing of this. I'm booting it up now to test.

[2015-07-27 19:53] mbrakken commented on #51
And if test works, can be deployed.

[2015-07-27 19:56] mbrakken commented on #45
Err, I should have related this to #92, although #25 is relevant in it's own way.

[2015-07-27 20:01] mbrakken commented on #51
Currently getting a 502 Bad Gateway on this, with the following url:
`https://mms.murfie.com/tc?src=https://ccrapi2.murfie.com/complete-submission/albums/f-and-m-at-sunset-we-sing/01-hands-in.wav&fmt=aac_m4a&auth=foo&meta={"tags":[{"key":"artist","value":"F&M"},{"key":"authors","value":"F&M"},{"key":"album","value":"At Sunset We Sing"},{"key":"title","value":"Hands In"}]}`

This url works (for mp3

[2015-07-27 20:02] mbrakken commented on #51
pinging @jjg re: 502 Bad Gateway

[2015-07-27 20:02] mbrakken commented on #51
Ahh. I see a problem. Updating.

[2015-07-27 20:05] mbrakken commented on #51
Updated #96. I just downloaded a track in aac and it played in itunes.

[2015-07-27 20:08] prestonaustin commented on #51
@mbrakken Let's wait for confirmation of @jjg's ALAC support, test both on an iPhone, and close this. (If not the right course of action, please define what is.)

[2015-07-27 20:11] mbrakken commented on #51
Sounds right to me @prestonaustin

[2015-07-27 20:31] acecarruthers commented on #95
Is something like this possible? The buttons in the playbar are maybe twice as big and proportionally farther apart. Pushing the album title and song title over to the side could cause problems with very long titles. I chose the longest album title we have as an example of how we could maybe shorten the titles so everything important is visible. I didn't change the height of the playbar at all.

!

[2015-07-27 20:40] acecarruthers commented on #95
or maybe something like this? The pause/play button is three times bigger here. This could probably be refined to be prettier, but you get the idea.

![playbardesign2](https://cloud.githubusercontent.com/assets/7355887/8917115/65da5442-346d-11e5-93fc-ba197aad480a.png)

[2015-07-27 20:46] prestonaustin commented on #95
@acecarruthers Thanks, that gives me clarity on what you were looking for here. We'll probably go with something like your first option, and we'll put together a design you can approve before that. I would like to take this off Production Ready as it is from a purely technical perspective a non-blocking UX, just something we want to improve, unless you consider the current UX as visitor-blocking f

[2015-07-27 21:01] prestonaustin commented on #93
@acecarruthers I'm going to leave this on the milestone, but we'll probably end up punting on it and gathering data over time to close out the problems that cause this sort of thing. An inelegant but effective fix to these issues may be to occasionally dump state and reload the whole ember app from browser cache, but we can't do that while music is playing or a download in progress, for example.

[2015-07-27 21:10] prestonaustin commented on #25
Will specify the UX after @jjg finalizes the endpoint, reassigning to me until https://github.com/murfie/mms/issues/37 is deployed, then I'll discuss next steps with @nagapampa

[2015-07-27 21:15] jjg commented on #51
Experimental ALAC support deployed.

[2015-07-27 21:18] mbrakken commented on #51
sweet. I'll switch over and test

[2015-07-27 21:23] mbrakken commented on #88
I believe #97 addresses this for all but the 45 tracks still in need of updates (@jjg knows of those). That said, once #94 merges we may want to use that static duration data. Otherwise, this is using duration data as the audio element knows of it.

[2015-07-27 21:24] mbrakken commented on #62
I believe we should now test it all. I've provided more info to @jjg about the remaining 3 tracks, as well as 42 other tracks in wav that do not appear to have been processed in the new context (ie they don't have all the additional media headers). So, barring those I think we can just test away.

[2015-07-27 21:43] mbrakken commented on #69
Well, there are likely 2 issues in play. I still think the strange appearance of extra anchor tags is an artifact of either data (although that should be resolved by now), or things getting muxed due to memory issues/leak, but these sprites will give us a fallback option.

![social-media-icon-grey-v3](https://cloud.githubusercontent.com/assets/1530955/8918545/46f510ba-347e-11e5-89b1-64e61e5c64f1.p

[2015-07-27 21:54] #92 closed

[2015-07-27 21:58] nagapampa commented on #69
I'm all for the webfont icons!

I just tested and made sure there weren't any spaces/commas in the submission.  It looks good in my browser now (Chrome)

[2015-07-27 22:02] #28 closed

[2015-07-27 22:11] mbrakken commented on #51
OK. xhr request to this url (alac):
`https://mms.murfie.com/tc?src=https%3A%2F%2Fccrapi2.murfie.com%2Fcomplete-submission%2Falbums%2Ff-and-m-at-sunset-we-sing%2F03-kukushka.wav&fmt=alac_mp4&auth=foo&meta=%7B%22tags%22%3A%5B%7B%22key%22%3A%22artist%22%2C%22value%22%3A%22F%26M%22%7D%2C%7B%22key%22%3A%22authors%22%2C%22value%22%3A%22F%26M%22%7D%2C%7B%22key%22%3A%22album%22%2C%22value%22%3A%22At%20Sun

[2015-07-27 22:13] acecarruthers opened #98 "Change text of poster artist names to black"
On the Poster page, the artist names are green like the links on the page. Could you leave the links green but change the text back to black? This is just a small UX issue - it can be confusing when text and links are formatted the same. If this could be done before launch that would be great, but it isn't a deal breaker by any stretch.Thanks!

[2015-07-27 22:20] #88 closed

[2015-07-28 14:36] jjg commented on #51
I just deployed a change that returns an accurate `Content-Length` for "buffered" MMS output formats (notably `aac_mp4` and `alac_mp4`).

I have tested both and they appear to be working as expected now, so I think that will resolve this issue @mbrakken but please let me know if not, thanks.

[2015-07-28 15:39] mbrakken commented on #51
seems to all be working. closing.

[2015-07-28 15:39] #51 closed

[2015-07-28 16:45] mbrakken commented on #83
Final 3 tracks are wav and working. Closing.

[2015-07-28 16:45] #83 closed

[2015-07-28 17:23] prestonaustin commented on #69
@nagapampa can you close this out now with the new sprite sheet?

[2015-07-28 17:23] prestonaustin commented on #64
@nagapampa can you close this out? If not, I need to know what blocks it.

[2015-07-28 17:49] nagapampa commented on #69
I believe this was a data issue - not sprites.

[2015-07-28 17:57] mbrakken commented on #69
The sprites should be updated and the globe image on the sprite should be positioned as a fallback (no matching class), so the styles for `.sm-link` link should be updated with a default `background-position` (in `_artists.scss`).

Then at least things won't look janky.

[2015-07-28 18:06] acecarruthers commented on #69
@nagapampa I just caught another one of these on the jesse and the dandelions page. It doesn't seem as though removing the comma permanently resolved this.
(Windows 7, Firefox 39, 28 July, Noon, https://wax.capitalcityrecords.ca/artists/jesse-and-the-dandelions)

[2015-07-28 18:10] prestonaustin commented on #69
"hate" is not too strong a word for how I feel about this github issue :/
@mbrakken @nagapampa let's talk about this at 1:30 and decide our path,
then update this ticket with that decision.

[2015-07-28 18:27] mbrakken commented on #69
closed by #99

[2015-07-28 18:27] #69 closed

[2015-07-28 20:42] acecarruthers commented on #25
PNG thumbnails available at https://docs.google.com/spreadsheets/d/1tQZmrZzCi1MopX5n0HkBV8QFzR-X8aIsZYBm8ScJ-8A/edit?usp=sharing

[2015-07-29 17:08] mbrakken commented on #25
Quick update here:

This is mostly together in this branch: https://github.com/therabble/ccr/tree/image_crop

I just need to do the calculations on the two corners and save them with the artist record. @jjg has said that he'll likely get to specifying the call parameters tomorrow, so I'm holding off on finishing this until I can make sure I'm storing values that trivially work with the future mms

[2015-07-29 17:18] prestonaustin commented on #25
@acecarruthers given this I would like to put off fixing thumbnails by one
more day, and do it Thursday. If @jjg and @mbrakken aren't confident
Thursday morning that we can finish this with the provided data, we'll do a
workaround with the provided graphics. Is this OK?

[2015-07-29 17:20] acecarruthers commented on #25
sure!

[2015-07-29 18:02] nagapampa commented on #98
Done and done.  In next deploy.

[2015-07-29 18:02] #98 closed

[2015-07-29 18:19] nagapampa commented on #64
merged PR.  changed duration to show up only in desktop.  the download button will always show now.  rest of changes can be put into new redesign ticket.

[2015-07-29 18:19] #64 closed

[2015-07-29 18:23] nagapampa commented on #63
@acecarruthers Any chance I can get your GA credentials so I can test if the code is working?  It takes up to 24 hours to start showing any data so I won't need this for a day or so for testing completely.

[2015-07-29 18:48] nagapampa commented on #63
@acecarruthers I also need the GA ID as soon as you can get that to me.

[2015-07-29 19:07] mbrakken commented on #62
test away.

[2015-07-29 19:09] mbrakken commented on #8
All tracks should have duration info now. We'll still want to update the upload process to capture that info at that time. The back end is now set up for that, but it should be a separate ticket. Closing.

[2015-07-29 19:09] #8 closed

[2015-07-29 19:22] prestonaustin commented on #62
Not seeing it, closing.
@acecarruthers you should definitely get this retested as well, and reopen with details if observed on any tracks.

[2015-07-29 19:22] #62 closed

[2015-07-29 19:29] nagapampa commented on #63
Thanks @acecarruthers

Code has been deployed.  Let the tracking begin.

[2015-07-29 19:41] mbrakken opened #102 "track duration on upload"
Upload tracks via mms (should be supported now), and set duration using the `X-Media-Duration` header that should be returned in the response.

[2015-07-29 21:33] acecarruthers opened #103 "Tracks not playing on mobile"
Between 2:58 and 3:25 I tried playing randomly selected songs from tuques, Electricity for Everybody and Choir and Marching Band and none of them played. I am able to hear YouTube videos so the sound is working on my phone.

What happens each time is that when I press play, the playbar appears and the pause button appears, but no music plays.

I successfully played a song from Electricity for Ever

[2015-07-29 21:43] prestonaustin commented on #103
@mbrakken MMS crash/restart?

(@acecarruthers we've crashed the beta platform 3 or 4 times today, so this
may be nothing but that, but keep reporting these with times. A test worth
running if it happens again is to close page, clear caches, and reload. If
MMS is down, graphics and tracks won't load or play. If you see that,
report that too as it is also possible for other things to cause that in
t

[2015-07-29 21:43] acecarruthers opened #104 "Downloading indicator hidden behind mobile menu"
![e4edownlo](https://cloud.githubusercontent.com/assets/7355887/8970735/805a0c26-3608-11e5-967e-98c0757f6822.png)

(Alex, Android phone, Lollipop, Chrome 43, 1:58pm MT, 29 July 2015)

[2015-07-29 22:12] prestonaustin commented on #104
@nagapampa In your opinion, would it make sense for us to consider attaching the indicator to the bottom of the tracks object (for all views not just mobile)?

[2015-07-29 22:25] prestonaustin commented on #103
@acecarruthers I'm moving this to Pending Debug Info to keep it alive but I think it isn't a problem. If any further problems like it contradict that, we should update here and reattach this to Production Ready.

[2015-07-29 22:39] mbrakken commented on #103
I'm guessing MMS crash, but I haven't checked times. Given the timezone
difference, these all seem to be when we were down and I was hidden in
other work.

On Wed, Jul 29, 2015 at 5:25 PM, prestonaustin <notifications@github.com>
wrote:

[2015-07-29 22:44] acecarruthers commented on #103
OK. The tracks are now playing on my phone after about a 12 second delay. That may be a different problem or it may be my phone's problem. I'll look into it.

[2015-07-29 23:29] acecarruthers commented on #63
@nagapampa I am new to Google Analytics and discovered this afternoon that some of the things I want to track will require additional tracking information added to the album pages. I haven't quite figured out what specifically I need (if you have experience with GA maybe you could help me out) so I may ask for more help on this tomorrow or on Tuesday.

I'm going to try and track song streams and d

[2015-07-30 18:12] acecarruthers commented on #63
According to this documentation: https://developers.google.com/analytics/devguides/collection/analyticsjs/events, in order to track when a song is streamed or downloaded, we need to set up 2 unique trackers for each song. For https://wax.capitalcityrecords.ca/albums/columbus-commonwealth that would be something like:

``
ga('send', 'event', 'music', 'stream', 'columbus-aolathome');
``
``
ga('send'

[2015-07-30 18:53] nagapampa commented on #104
@preston We have so many things absolutely positioned at the bottom of the screen right now - the mobile menu, More menu, download indicator, player...  They are all fighting for that last spot.

I like your suggestion.  If they are clicking (pressing) from the track level, they should be able to view the indicator at that level too.

[2015-07-30 18:55] prestonaustin commented on #104
@nagapampa That was my thought as well, please take a swing at it and we'll
restyle after if need be.

[2015-07-30 19:26] mbrakken commented on #25
i'm deploying an update to the admin app to collect crop area data, then I'll go and get that data in for the necessary artist images and update the public app accordingly.

FYI, the interface for getting crops is slapdash, but it gets the job (data) done for now.

I'll close when everything is completed.

[2015-07-30 20:00] nagapampa commented on #63
Will be in the next deploy.

Also, the page tracking is working!  Log in and check out the stats (mostly under Behavior -> Site Content -> All Pages)

The track events should show up later today or at least by tomorrow.

[2015-07-30 20:00] #63 closed

[2015-07-30 20:14] mbrakken commented on #25
ok. all in https://drive.google.com/folderview?id=0B56HcVGi1B3nfnh5a1BvalEyelF3Ui1GcG1CYWVxblFNWW1ILXYzS0EteU1VanYxeXg0ZGc&usp=sharing have been updated, #106 uses available data in the app. that's now out. closing.

[2015-07-30 20:14] #25 closed

[2015-07-30 21:24] mbrakken opened #108 "logic for grabbing images of different widths based on browser or div width"
For image calls to mms (or mmscache)

Specified width options (for `scale_width` GET param): 135, 400, 540, 1280

Currently, list views (album, artist) use 400 universally, and that may be what we stay with (135 is too small for a 2x grid)

Artist, album, and poster interfaces should select the appropriate size based on screen dimensions, always the tier that's larger than the width the image will

[2015-07-30 22:28] acecarruthers opened #109 "images downloading / displaying slowly"
Since yesterday have been noticing distinct lag in album art appearing on homepage and https://wax.capitalcityrecords.ca/albums.

lbum art for Rend always takes twice as long as everything else. The longest I've counted is 20 seconds before all the art starts to appear. From a UX perspective that is enough time for users to get confused or impatient.

These are the times when I was able to count a

[2015-07-30 23:12] mbrakken commented on #109
The syntax for image processing calls changed, and the app hadn't been
updated yet. That should all be taken care of at this time, but we can
still look at enhancements around:

- [ ] lazyloading images in lists (especially posters, where there are many)
- [ ] maybe adjusting parameters on jpg compression. even with processing,
I agree that the Rend cover still takes an awfully long time.

On Thu,

[2015-07-30 23:32] acecarruthers opened #112 "please remove beta test prompt code"
I will be encouraging some staff to explore the beta site so they can get familiar with it before Wednesday and they might get confused by the beta test prompt. Thanks!

[2015-07-31 01:41] preston commented on #104
@nagapampa I think you have the wrong Preston. :)

[2015-07-31 17:39] prestonaustin commented on #112
@nagapampa let's keep that fluid survey code in a comment for a little while, so we can activate a (different) survey trivially later if we want to gather some information during production use.

[2015-07-31 17:41] prestonaustin commented on #109
@nagapampa let's merge and deploy @mbrakken's work here, and be sure all our optimizations for client requesting appropriate width and format, and for MMS-caching, are in effect then close with a note for @acecarruthers to retest. I'm not confident there isn't something we don't know about here, but let's look at it again with all our improvements deployed.

[2015-07-31 17:44] prestonaustin commented on #103
@jjg @mbrakken this resonates with some reports Marc has on ember-player, so I'm mentioning you both here just FYI if we are looking for cases on that stuff. Unclear if this is common, and unclear if it is ember-side, mms/mtc-side, or in between.

[2015-07-31 17:45] prestonaustin commented on #55
@mbrakken I think this ticket is deprecated? If so please just close it.

[2015-07-31 17:47] prestonaustin commented on #49
@acecarruthers this fell off my plate, I've swept it into Post Launch for now, and we can and should consider this and all other "might be nice(r) if" stuff as a set and prioritize after we are in production.

[2015-07-31 17:48] prestonaustin commented on #48
@acecarruthers Moving into Post Launch for consideration with other issues there together.

[2015-07-31 17:50] prestonaustin commented on #46
@nagapampa can you look at this one and see if it is easy, and if so assign this ticket to yourself and into Production Ready and do it when you get to it. Otherwise, just note what needs doing and leave it with me in Post Launch.

[2015-07-31 17:54] mbrakken commented on #103
Just to check, is it the same on wifi vs cell network? My first suspect on slow to play for mobile is network latency / download speed.

[2015-07-31 17:58] prestonaustin commented on #103
@acecarruthers @mbrakken Yes I'm assuming this is either delayed back and
forth to establish the playable track's load, or a slowed down response or
slow-starting load on the MMS hit from the client side. We may want to add
some profiling code on the client that logs when it is trying to request
things vs when it starts processing the replies, and when it gets data
events.

[2015-07-31 18:08] prestonaustin commented on #30
Delayed by API entanglements, scheduled for completion together with @jjg and @nagapampa on Tuesday

[2015-07-31 18:49] mbrakken commented on #55
I guess I'll close, but I think there are still times where we want to show indeterminate progress. I'll wait for an issue to arise, though, particularly since there's conversation afoot to update how we present download progress.

[2015-07-31 18:49] #55 closed

[2015-07-31 18:53] mbrakken commented on #108
I deployed a first version of this for artist pages yesterday. A refactored and abstracted version is in https://github.com/therabble/ccr-app/tree/adaptive_images

[2015-07-31 18:55] mbrakken commented on #109
I actually merged and deployed my updates yesterday.

If this stays open, it'll be to keep my points in my prior comment in focus. Otherwise, it can be closed @prestonaustin and @nagapampa.

[2015-07-31 19:00] prestonaustin commented on #109
@acecarruthers Please retest performance here and let me know how it feels.

[2015-07-31 19:00] #109 closed

[2015-07-31 21:38] #112 closed

[2015-07-31 21:39] #104 closed

[2015-07-31 22:16] prestonaustin opened #114 "musicat.ca CNAME for mapping root capitalcityrecords.ca domain to app server"
Can we map naked "capitalcityrecords.ca" via a CNAME to "capitalcityrecords.ca.musicat.co" which is itself a CNAME to hostname.of.service.node (or an A record to its IP address)?

I find myself unsure I can do that with the root domain.

[2015-07-31 22:52] prestonaustin commented on #114
@acecarruthers Can you ask your DNS contact to set up the following mappings the day we go live:

Add: www.capitalcityrecords.ca. CNAME	www.capitalcityrecords.ca.musicat.co.
Setup and apex record forwarding capitalcityrecords.ca. to capitalcityrecords.ca.musicat.co.

Note that second one can't be a regular CNAME, though it functions the same way in practical sense. Depending on how you handle DNS

[2015-08-03 13:18] jjg commented on #114
I added www.capitalcityrecords.ca and capitalcityrecords.ca to the config of the client Heroku app.  Should be set to respond to those names as soon as the DNS changes go through.

[2015-08-03 19:46] jjg opened #115 "Remove dependencies depreciated servers"
The servers behind the hostnames below are in the process of being decommissioned.  Let's make sure any references to these hosts in this (or any other CCR application) are updated and/or removed and update this issue when it has been confirmed that there are no dependencies on these hosts:
- jsfs.capitalcityrecords.ca
- ccrjsfs.murfie.com
- ccrapi.murfie.com
- jsfs.murfie.com
- jsfs-dev.murfie.co

[2015-08-04 20:12] acecarruthers opened #116 "Replace artist banner"
Just noticed this one is huge. Please replace Cayley Thomas' artist banner https://wax.capitalcityrecords.ca/artists/cayley-thomas with the attached

![cayley1_cropped](https://cloud.githubusercontent.com/assets/7355887/9071472/c5770f44-3ab2-11e5-8d10-9ccb711b33bd.jpg)

[2015-08-05 15:15] jjg commented on #114
Complete @prestonaustin ?

[2015-08-05 15:25] prestonaustin commented on #114
This is closed by deprecation yes.

For the record: the site now uses A records to Murfie platform IP
addresses, rather than CNAMEs, so we can support apex name-marketing
compatibly with legacy/RFC-compliant DNS. Without value-added DNS
cleverness this config is unsuitable for CNAME based mapping of requests to
hosted application code such as Heroku offers. So, we moved the app server
to stable IP

[2015-08-05 15:31] #114 closed

[2015-08-05 16:18] acecarruthers opened #117 "Security Error on Android Phones"
users trying to access Capital City Records via an Android mobile device are receiving an error message. Was notified of this by two different users at 10:09 MT and then received the error on my own phone:

![screenshot_2015-08-05-10-13-53-1](https://cloud.githubusercontent.com/assets/7355887/9091031/1add23bc-3b5b-11e5-8b61-89bef8f6d55e.png)

Using Chrome

[2015-08-05 16:30] acecarruthers commented on #117
Blackberry users also receiving error messages:
"Site identity not verifiable. This site may not be trustworthy. Personal information entered on this site may not be protected. The certificate to identify capitalcityrecords.ca has not been verified by a trusted source."

[2015-08-05 16:35] prestonaustin commented on #117
@jjg - thoughts?

[2015-08-05 16:35] jjg commented on #117
@prestonaustin I was just going to ask you.  I don't have an Android device handy, can you get any extended information about the error?

[2015-08-05 16:36] jjg commented on #117
Also does it make a difference what URL is specified (i.e.: http://www.capitalcityrecords.ca vs. http://capitalcityrecords.ca, etc.)?

[2015-08-05 16:44] acecarruthers commented on #117
Not on my phone. I get the same error from http://www.capitalcityrecords.ca, http://capitalcityrecords.ca, and https://capitalcityrecords.ca

[2015-08-05 16:45] prestonaustin commented on #117
@jjg The problem seems to bother Chrome but not Firefox on Android.

In addition to the NET:ERR_CERT_AUTHORITY_INVALID seen in Alex's report, I
get the following by entering into the advanced and details screens Chrome
offers, see images:

https://goo.gl/photos/RBrpZYjTSzZrogGg9

Anything in there seem not a correct match to the PEM?

N.B. I don't know if this was it was not an issue before the fo

[2015-08-05 16:50] mbrakken commented on #117
FYI, Android on my mac has a happy cert:
![screen shot 2015-08-05 at 11 48 29 am](https://cloud.githubusercontent.com/assets/1530955/9091861/39922ac0-3b68-11e5-99ea-337188e569bd.png)

[2015-08-05 16:53] mbrakken commented on #117
cert info (chrome, mac):
![screen shot 2015-08-05 at 11 52 31 am](https://cloud.githubusercontent.com/assets/1530955/9091912/8e70d58c-3b68-11e5-9a5f-27af3e0705f3.png)

[2015-08-05 16:58] jjg commented on #117
Weird, I don't get any errors on Chromium on Linux either.

[2015-08-05 17:03] mbrakken commented on #117
Public key and signature (truncated in the prior screencaps):
![screen shot 2015-08-05 at 12 01 52 pm](https://cloud.githubusercontent.com/assets/1530955/9092157/f1b3952a-3b69-11e5-9477-1ef6f843ab14.png)

![screen shot 2015-08-05 at 12 02 06 pm](https://cloud.githubusercontent.com/assets/1530955/9092160/f509f4da-3b69-11e5-976b-ead524b951c2.png)

[2015-08-05 18:22] jjg commented on #117
Looks like we need to include the intermediate certificate in the PEM file we're using on the load balancer.

This will need to be downloaded from the certificate authority's website (in this case, Digicert) and then securely transferred to me so I can install it on the LB.

This page on Digicert's site describes the process.  What we specifically need is the file **DigiCertCa.crt** described in s

[2015-08-05 18:28] acecarruthers commented on #117
I just emailed them now. Will get back to you ASAP

[2015-08-05 19:37] #116 closed

[2015-08-05 19:48] jjg commented on #117
New PEM installed, passes my tests & @prestonaustin has confirmed Android & Blackberry is fixed.

Closing but please re-open if additional SSL issues are reported.

[2015-08-05 19:48] #117 closed

[2015-08-05 19:49] acecarruthers opened #118 ""Missing tracking code" message on Google Analytics"
Received the following notification today when I logged in to Google Analytics:

"No valid tracking code found for property Capital City Records's default URL http://www.capitalcityrecords.ca. Make sure your pages are tagged with a supported version of the tracking code."

[2015-08-05 20:55] acecarruthers opened #119 "replace artist banner image"
Artist Josh Williams has requested we change his banner image to the one below. https://capitalcityrecords.ca/artists/josh-williams

![widescape](https://cloud.githubusercontent.com/assets/7355887/9097634/e4073be4-3b81-11e5-813b-42e6f810a3c7.jpg)

Thanks!

[2015-08-05 21:02] prestonaustin commented on #119
Nice picture :)

@nagapampa can you do this today or ask Marc if he can (so we get it quick
since its an artist request right after launch?)

[2015-08-05 21:17] acecarruthers commented on #118
Any idea why we are receiving this error or how we can fix it?

[2015-08-05 22:21] #119 closed

[2015-08-05 22:35] nagapampa commented on #118
@acecarruthers I am logged into GA right now and I am able to see the stats.  Can you take a screenshot of the error message so I know where to look?

[2015-08-05 22:39] acecarruthers commented on #118
![ga error message](https://cloud.githubusercontent.com/assets/7355887/9099721/723fc5b2-3b90-11e5-9795-22439fab4c9f.png)

[2015-08-05 22:40] acecarruthers commented on #118
I'm not sure what the message "Last detected Aug 1, 2015" is referring to - last time the code was detected? last time the error was detected?

[2015-08-05 22:51] nagapampa commented on #118
@acecarruthers I do not see that when I log in... maybe click on ADJUST PROPERTY SETTINGS and change the http: to https:

I am not able to update these settings when I log in.

[2015-08-05 22:55] acecarruthers commented on #118
I tried that but there doesn't seem to be a change. I'll give you more admin powers @nagapampa

[2015-08-05 23:09] nagapampa commented on #118
@acecarruthers I am on the site and I see the tags being sent to GA, so that's good.  I do see the message now - thank you for the access.

I sent a verification request that may take 24 hours to confirm.

[2015-08-05 23:13] acecarruthers commented on #118
Thanks @nagapampa!

[2015-08-07 15:32] acecarruthers commented on #118
Received notification from GA that this issue has been resolved.

[2015-08-07 15:32] #118 closed

[2015-08-10 21:12] acecarruthers commented on #47
CSI has contacted me and requested a complete track list including track name, track artists and song writer/publisher information. I believe that record label information can stand in for song writer/publisher information where ever we have it. Otherwise we'll have to put unavailable.

[2015-08-12 16:51] acecarruthers opened #120 "edit text on FAQ page"
Under "How can I download music?" replace second paragraph with:

"Log in with your library card and PIN by clicking the Login button in the top right corner. Then click the download button next to the play button on the track you want. Choose the format you want to download. Enjoy!"

Under "Who is on the jury?" replace Chad Brunet's title with "Program Director, CJSR"

[2015-08-13 22:21] acecarruthers opened #121 "Google Analytics not tracking all streams"
I used the Real-Time Event tracker in GA today around 3:30 to check how the site was tracking streams. We noticed that the average session duration on the site was only 3:29 and that didn't seem quite long enough.

I played Lyra Brown's "Perfect Avocado" and it was registered as a streaming event. When the next song, "The Language of Eyes," came on automatically, the site did not register a new st

[2015-08-14 04:21] mbrakken commented on #121
I see the ga call is in the action handler. I'd move it into the player
service, right where I have the call to the logger service.
On Aug 13, 2015 5:21 PM, "acecarruthers" <notifications@github.com> wrote:

[2015-08-14 17:15] acecarruthers opened #122 "Test Report for SOCAN by Aug 19"
This must include a Monthly Sales Reporting File (incl. Header Record Layout and a Detail Record Layout) and a Unique Visitors Report File (incl. Header Record Layout and a Detail Record Layout).

CSI/SOCAN Joint Reporting Format: https://drive.google.com/open?id=0B56HcVGi1B3nVlp6dFZmOGNGeVE

Customer ID: EP-188326
Service Name: CapitalCityRecords
Tax Province: AB
Deal Type Code: STREAM

If you ca

[2015-08-14 20:40] nagapampa commented on #120
Will be in next deploy

[2015-08-14 20:40] #120 closed

[2015-08-14 20:44] nagapampa commented on #121
@mbrakken are you talking around line 66 before the logger.logPlay(track); ?  is the playSound method called when the next track plays?  Thanks Marc.

[2015-08-14 20:46] prestonaustin commented on #121
@nagapampa that should work fine as context, even if that's not what Marc
meant.

[2015-08-14 20:59] nagapampa commented on #121
@prestonaustin I moved the call to the player service and took it out of the handler.  I tested and saw a new GA call being sent on track changes.

@acecarruthers This will be in the next deploy.

[2015-08-14 20:59] #121 closed

[2015-08-16 17:22] acecarruthers opened #123 "Album not streaming all the way through"
Choir and Marching Band is having some trouble streaming https://capitalcityrecords.ca/albums/choir-and-marching-band-life-found-on-superhot-body-only-one-light-year-away

User pressed play on the first track. When the song ended the next track didn't start. User pressed play on the album cover and skipped forward in the playbar to track 2. Track 2 moved seamlessly into track 3. At the end of trac

[2015-08-16 17:39] acecarruthers commented on #123
Update: track 7 of Nature Of ended and Track 8 did not start. Track 7 also experienced a weird sound cut out about half way through. https://capitalcityrecords.ca/albums/nature-of-nature-of

All the details above are the same, except the time was 11:38am MT

[2015-08-16 17:49] prestonaustin commented on #123
@acecarruthers are the effects reproducible on subsequent playthrough?
(i.e. same error at the same place)

@jjg can you see any log footprints that might shed some light on this?
These should (I think) be serving from MMS cache so it may be interesting
to grab its contents for these tracks before any restart or cache flush
happens.

On Aug 16, 2015 12:39 PM, "acecarruthers" <notifications@github.

[2015-08-16 18:02] acecarruthers commented on #123
@prestonaustin Yes, I tested track 3 of Choir and Marching Band twice with the same result.

[2015-08-16 18:04] jjg commented on #123
Audio is not cached ATM @prestonaustin, only images.

[2015-08-16 18:39] acecarruthers commented on #123
I retested Nature Of and the 8th track did start right after the 7th - but now it has stopped at the end of the 9th track.

[2015-08-16 18:58] prestonaustin commented on #123
@acecarruthers How are other albums doing? Clearly we should determine how
prevalent problems are, if we found 1 in testing 2 other albums it may be a
lot. I'm on phone with limited battery until I get home, so preserving that
for keeping in touch, but not a super useful tester for a couple hours here.

@jjg if you want jlog client side playback logging additions can you make
an ask to @nagapampa

[2015-08-16 20:02] acecarruthers commented on #123
@prestonaustin I made it all the way through Kaz Mega and the Velveteins without the tracks stopping. There was another strange pause in Track 2 of the Velveteins.

[2015-08-16 20:08] mbrakken commented on #123
Is all of this testing on Chrome desktop? Does Firefox play fine? If both are true, this sounds related to https://github.com/murfie/mms/issues/34 (`net::ERR_CONTENT_LENGTH_MISMATCH`, related to how Chrome fetches media). If `net::ERR_CONTENT_LENGTH_MISMATCH` occurs in the last second or so of the track, the browser can be slow to recover and/or fail to recover (the failure might be timeout relate

[2015-08-17 15:26] acecarruthers commented on #123
@mbrakken Previously all testing has been on Chrome desktop. I went to test track 3 of Choir and Marching Band on Firefox 40 Desktop and the track just stopped halfway through. After about 2 minutes I gave up on it starting again. I pressed pause and then play again and it didn't start.

I tried starting the tracks before and after and then I returned to track 3 - it was still stuck mid song and w

[2015-08-17 15:42] acecarruthers commented on #123
I just tested Nature Of on Firefox 40 and had 0 problems streaming all the way through. Perhaps there are a couple different little issues at work here?

[2015-08-17 15:57] prestonaustin commented on #123
So it would appear. I'm a little stumped atm but we'll keep looking at it.

[2015-08-17 15:58] jjg commented on #123
Did we get confirmation whether or not `ERR_CONTENT_LENGTH_MISMATCH` is thrown when the playback error occurs?

[2015-08-17 16:01] prestonaustin commented on #123
@jjg @mbrakken we would expect that error only in chrome, correct? Can you
paste instructions here so Alex and I can both test.

[2015-08-17 16:22] mbrakken commented on #123
@jjg I did see `ERR_CONTENT_LENGTH_MISMATCH` thrown yesterday when I
briefly tested, but I looked for one occurrence and then moved on to other
things.

@prestonaustin and @acecarruthers: to test, open up chrome's developer
console. To get the via menus on a Mac, go to View --> Developer -->
JavaScript Console. On a Windows or Mac machine, you can also click on the
little hamburger menu to the rig

[2015-08-17 16:39] acecarruthers commented on #123
Playing Track 1 of Choir and Marching Band in Chrome and I am getting repeating `ERR_CONTENT_LENGTH_MISMATCH` messages. First one when the song momentarily cut out and then again 10 or so seconds after the song ended and then they keep appearing about 2 minutes apart. Track 2 is not starting.

![2015-08-17 10_31_01-life found on](https://cloud.githubusercontent.com/assets/7355887/9310275/13798dfc-

[2015-08-17 16:57] mbrakken commented on #123
@acecarruthers Does the second of these errors occur right near the end of
the track? If so, that correlates with other examples I've seen that break
transitions to the next track (
https://github.com/murfie/ember-player/issues/30)

On Mon, Aug 17, 2015 at 11:39 AM, acecarruthers <notifications@github.com>
wrote:

[2015-08-17 17:07] jjg commented on #123
I think @mbrakken is correct that this is related to https://github.com/murfie/mms/issues/34 and will likely be resolved once that issue has been fixed.

[2015-08-17 17:15] acecarruthers commented on #123
@mbrakken The second error occurred a few seconds after the track ended.

[2015-08-18 22:10] acecarruthers commented on #122
@prestonaustin @lahollen do you think this will be available tomorrow?

[2015-08-18 22:49] prestonaustin commented on #122
@acecarruthers we are badly behind this week due to focus on audio platform
bug, and an unrelated hardware crash that we recovered from without
incident (CCR is not impacted) but had to focus on restoring redundancy
(done), then fixing the root cause (in progress). I'll look at this report
issue with @nagapampa in the AM and try to get you a report within
Wednesday. One of us will provide an updat

[2015-08-18 22:51] acecarruthers commented on #122
@prestonaustin Sorry to hear about the hardware crash! Thanks for the update.

[2015-08-19 18:18] acecarruthers opened #124 "New posters not showing on page"
I uploaded 15 JPG posters on either Monday or Tuesday (I forget) using the poster upload tool (http://submissions.capitalcityrecords.ca/submit/event-media) and immediately published them using the publishing tool (http://submissions.capitalcityrecords.ca/review-and-publish/posters). All 15 posters have "Voice Industrie" in their Collection name field.

On the day that I published them I could see

[2015-08-19 18:28] prestonaustin commented on #124
Hmmm, this may be an impact of our storage crash we did not know about. I
thought CCR had no effects. @jjg were these possibly in between last backup
and crash?

If so, we probably need a recipe to repair this for @nagapampa, so the DB
matches the objects and has correct access keys. I assume we would want to
use same paths and set the keys on POST from what is in redis?

[2015-08-19 18:35] jjg commented on #124
The backup I restored was from 08/13, so if they were uploaded between then and yesterday they were likely lost due to the crash.

[2015-08-19 21:16] acecarruthers opened #125 "Music not playing on Capital City Records"
As of 2:20pm MT this afternoon I haven't been able to stream any music on Capital City Records on any browser or device. Sometimes album art is broken also on the album page and on the playbar.

See screenshot from 3:13pm MT Chrome desktop https://capitalcityrecords.ca/albums/choir-and-marching-band-life-found-on-superhot-body-only-one-light-year-away

![streamimageerr](https://cloud.githubusercon

[2015-08-19 21:17] jjg commented on #125
Investigating

[2015-08-19 21:22] jjg commented on #125
@acecarruthers I believe this is resolved but please re-test (you may have to clear your cache) and leave a comment if there are ongoing issues.

[2015-08-19 21:29] acecarruthers commented on #125
@jjg everything is working fine again! That was fast! What was the problem?

[2015-08-19 21:32] jjg commented on #125
I need to review with @mbrakken but something in the code is relying on a default routing mechanism on our loadbalancer that I have slated to be depreciated.  It was disabled while we were upgrading the storage system that gave us trouble yesterday.  Once I saw this issue I re-enabled the routing.

[2015-08-19 22:30] acecarruthers commented on #124
They definitely were uploaded between 08/13 and yesterday.

It seems unlikely, but I want to confirm, do you anticipate that there will be a problem with posters that are uploaded today or tomorrow?

If there won't be a problem I will re-upload the posters as well as some new posters. I don't have the ability right now to delete the records for posters that we lost, so I'll have to ask someone at

[2015-08-19 23:01] prestonaustin commented on #124
@acecarruthers I've confirmed with @jjg that we expect no issue with
re-uploads now, the server has a great deal more headroom and fixes to
cause of error are ongoing. We'll deal with the orphaned records from the
prior upload that was lost. Sorry about this and the audio problem - we
keep finding stuff related to that last minute switch if hosting to make
the DNS/SSL work - in this case we had is

[2015-08-19 23:06] acecarruthers commented on #124
Thanks @prestonaustin, we appreciate your speedy resolution to the issues!

[2015-08-24 22:15] acecarruthers opened #126 "Music not streaming"
Received notification from a user that they cannot stream tracks on Capital City Records. I cannot either. Images are resolving quite slowly and sometimes are breaking - specifically album covers on album pages. See screenshot below

User, Windows 7, Chrome & IE, ~4pm, https://capitalcityrecords.ca/albums/columbus-commonwealth and https://capitalcityrecords.ca/albums/the-duettes-your-little-voice

[2015-08-24 22:19] prestonaustin commented on #126
Looking into it with @jjg and @mbrakken, will update.

[2015-08-24 22:53] prestonaustin commented on #126
@acecarruthers should be back now, my tests that failed now pass, will
follow up with more info later after we analyze the failure, but please
retest. Mention @jjg if you see errors.

[2015-08-24 23:03] acecarruthers commented on #126
Thanks @prestonaustin it is working for me too

[2015-08-24 23:09] prestonaustin commented on #126
@acecarruthers Thanks for the notice. This was a pretty obscure
problem. Hourly extra backups we setup last week after prior data loss,
just to be conservative and have instant recovery locally available, ran a
root filesystem out of space, crashing the service and its ability to
notify us. @jjg has cleared the extra backups out and backed the schedule
down to once a day. (An once of caution 24 ti

[2015-08-25 22:10] acecarruthers commented on #124
I think the remaining action on this issue is to remove the orphaned records so they no longer appear on the site

[2015-08-25 22:23] acecarruthers commented on #122
Revised date for this is the morning of Thursday Aug 27

Please send me via email a .txt file the conforms to the specifications in the CSI/SOCAN Joint Reporting Format: https://drive.google.com/open?id=0B56HcVGi1B3nVlp6dFZmOGNGeVE

See pages 1-2 and 7 for file naming conventions.

See first comment for other relevant details.

Note: for SOCAN, we only need to report on STREAMS. We will need to se

[2015-08-25 22:26] acecarruthers commented on #47
Deadline for this is the morning of Thursday Aug 27

Email this to me in CSV or XLS format

[2015-08-25 22:51] acecarruthers opened #127 "Collection data for jury"
In order for the jury to make informed decisions about how to grow a diverse collection, I am going to put together a report for them on the voluntary demographic information and genre information we collected. Please email me a CSV file with the following fields for each artist.
Gender
Ethnicity
Tags
Genre

[2015-08-25 23:19] acecarruthers opened #128 "Submissions Process bugs and improvements"
List of bugs noticed in the first call for submissions that need to be fixed/tested as well as improvements to the tool that occurred to us the first time around.

Artist Submissions http://submissions.capitalcityrecords.ca/submit/
- [x] not all audio files uploaded successfully so jury wasn't able to listen to all tracks (I believe this is fixed, but we need to test)
- [x] Collect track duration

[2015-08-25 23:24] acecarruthers opened #129 "Video page"
We'd like a page on the site to embed some of the great work being done by local film makers to capture the local music scene. To get these up quickly, it would be OK to post them without making them searchable or adding any data about them to our data store. Long term, it would be good to collect metadata about these videos and make them searchable.

Here are some quick mock ups I put together in

[2015-08-26 22:42] acecarruthers opened #130 "Data/metadata export for dark archive test"
The long-term goal is to be able to automate the export of data and metadata from the Rabble server into the U Alberta Libraries' dark archive. The first step towards setting this up is for us to send them a test export to give them a sense of what objects and what data they should prepare for.
They have requested just a small amount of content for the test.

I think the test should include the fo

[2015-08-26 22:43] acecarruthers opened #131 "Questions re: Dark Archive export"
1) What is the best way to move the data/metadata without having to download it to a hard drive and drop it off at the University in person. Could the CCR API be adapted for this purpose? What do you need to know from me/the University to be able to answer this question?

2) The University has requested we provide them with a storage estimate. I was wondering if you could tell me how much we’re st

[2015-08-26 22:44] acecarruthers commented on #131
tied to #130

[2015-08-27 05:11] nagapampa commented on #47
@acecarruthers Please see the attached data export CSV.  I also attached a screenshot on where you can go to download the latest data and re-run the report.

![dataexportbutton](https://cloud.githubusercontent.com/assets/2964839/9513034/12767c5e-4c50-11e5-9e33-30a8e3bf5ae3.png)

[2015-08-27 05:11] nagapampa commented on #47
I will email you the CSV... GIT will not let me attach it to the comments

[2015-08-27 05:14] nagapampa commented on #47
@acecarruthers Please review the CSV I have sent via email.  I will be available tomorrow morning for any changes you would like me to make.

[2015-08-27 16:16] acecarruthers commented on #47
@nagapampa thanks for this! Everything looks good except an o with an umlaut character is not resolving correctly for Zonik Records - the publisher of the  Wilfred N & the Grown Men album.

![2015-08-27 10_15_58-microsoft excel - dataexport read-only](https://cloud.githubusercontent.com/assets/7355887/9526105/b1cb4362-4ca4-11e5-9bbd-3320fc294f3d.png)

In the short term I can just replace them in t

[2015-08-27 16:18] mbrakken commented on #47
encoding... :(

On Thu, Aug 27, 2015 at 11:16 AM, acecarruthers <notifications@github.com>
wrote:

[2015-08-27 17:23] acecarruthers commented on #124
Can you also remove this poster https://capitalcityrecords.ca/posters/f97ab32174138d06e99422773d8592aee9216b22-2015-08-27t17-15-47-654z-11211602_10153248879812560_130433929_o-jpg

it is actually just a logo thrown in with a big batch of posters.

[2015-08-27 18:40] mbrakken opened #132 "Include user id (hash of library card) in logs"
When available, use the current user's id, which is a hash of their library card, when logging track plays and downloads.

In many streaming cases, there will not be an authenticated user, and so no id. We should handle these cases gracefully.

[2015-08-27 19:49] nagapampa commented on #122
![socan](https://cloud.githubusercontent.com/assets/2964839/9531270/b85d15fe-4cca-11e5-865e-930fda809aca.png)

@acecarruthers For now, the start and end date (as well as filename) are hard coded.  I will email you the generated TXT file or you can log in and run it yourself.

[2015-08-28 16:04] #132 closed

[2015-09-17 16:32] acecarruthers opened #134 "CSI requests more data"
CSI has requested more data from us in order to move forward. Can you please send me the following numbers:
- Total tracks downloaded (Aug 5 - present)
- Total tracks streamed (Aug 5 - present)
- Total tracks downloaded (Aug 28 - present)
- Total tracks streamed (Aug 28 - present)
- No. logged in users who have streamed (Aug 28 - present)
- No. logged in users who have downloaded (Aug 28 - present

[2015-09-17 16:33] acecarruthers commented on #134
I'm thinking maybe @lahollen or @nagapampa can help me with this?

[2015-09-17 16:51] nagapampa commented on #134
@acecarruthers You should be able to get these numbers from the current report and from GA.  That user's report I just sent has the total tracks streamed (if you add up all the numbers in the records) - same with number of users who streamed.  I think all the download information is in GA.

I'm not sure able the number of users who have downloaded.  We are tracking the streams in the app, and GA i

[2015-09-17 21:57] acecarruthers commented on #134
Hi @nagapampa - you're right, I didn't ask you to track downloads per user because the first time I talked to CSI they said we wouldn't need to. Sorry about that.  I pulled together the data I could find and found some confusing discrepancies in the total number of tracks streamed.

1. The SOCAN sales report - between July 9 and Aug 27 - total streams: _153_ (this is counting all of the total unit

[2015-09-18 14:33] nagapampa commented on #134
[EP-188326_STREAM_20150930_20150918_211015.txt](https://github.com/therabble/ccr-app/files/2152/EP-188326_STREAM_20150930_20150918_211015.txt)
[EP-188326_STREAM_20150930_20150918_211015_UVR (2).txt](https://github.com/therabble/ccr-app/files/2153/EP-188326_STREAM_20150930_20150918_211015_UVR.2.txt)

[2015-09-18 14:33] nagapampa commented on #134
Those are the files for 8/5 - present

[2015-09-18 15:30] acecarruthers commented on #134
Thanks @nagapampa - There is a big difference in the data (and I like these numbers way better!!)

Here's the total number of streams I pulled from these two files:
Sales: 9731
UVR: 9687
I'm not sure which one is correct. Can you explain why these are different and why these numbers are so different from the earlier numbers? It might be easier to discuss this over Hangouts. Maybe this afternoon if

[2015-09-18 19:46] nagapampa commented on #134
[EP-188326_STREAM_20150930_20150918_211015.txt](https://github.com/therabble/ccr-app/files/2178/EP-188326_STREAM_20150930_20150918_211015.txt)
[EP-188326_STREAM_20150930_20150918_211015_UVR.txt](https://github.com/therabble/ccr-app/files/2177/EP-188326_STREAM_20150930_20150918_211015_UVR.txt)

@acecarruthers  I made one small change but still can't get them to match up exactly.  Still looking into

[2015-09-18 19:49] nagapampa commented on #134
[EP-188326_STREAM_20150930_20150918_211015.txt](https://github.com/therabble/ccr-app/files/2179/EP-188326_STREAM_20150930_20150918_211015.txt)
[EP-188326_STREAM_20150930_20150918_211015_UVR.txt](https://github.com/therabble/ccr-app/files/2180/EP-188326_STREAM_20150930_20150918_211015_UVR.txt)

@acecarruthers  Here are the reports for 7/9 - present

[2015-09-18 20:39] nagapampa commented on #134
[EP-188326_STREAM_20150930_20150918_211015.txt](https://github.com/therabble/ccr-app/files/2185/EP-188326_STREAM_20150930_20150918_211015.txt)
[EP-188326_STREAM_20150930_20150918_211015_UVR.txt](https://github.com/therabble/ccr-app/files/2184/EP-188326_STREAM_20150930_20150918_211015_UVR.txt)

Found the issue.  Updated reports here.  From July 9 - present

[2015-09-18 20:41] nagapampa commented on #134
[EP-188326_STREAM_20150930_20150918_211015.txt](https://github.com/therabble/ccr-app/files/2186/EP-188326_STREAM_20150930_20150918_211015.txt)
[EP-188326_STREAM_20150930_20150918_211015_UVR.txt](https://github.com/therabble/ccr-app/files/2187/EP-188326_STREAM_20150930_20150918_211015_UVR.txt)

From July 9 - present

[2015-09-18 20:47] acecarruthers commented on #134
Thank you, Carie! Awesome! It looks like you sent me the reports from July 9 - present twice - I also need from Aug 5 to present :)

[2015-09-21 13:24] nagapampa commented on #134
@acecarruthers Those are from different times.  I just commented incorrectly.

[2015-09-21 22:23] acecarruthers commented on #134
Oops! Thanks @nagapampa

[2015-09-22 15:19] acecarruthers commented on #134
@nagapampa I was able to collect and send all the new data that CSI requested by combining Google Analytics and the reports you provided. This has raised a question for me, though: are we tracking downloads somewhere other than Google Analytics?

[2015-09-22 15:28] nagapampa commented on #134
@acecarruthers Not that I can see in the the project.  The logger is STREAM.

[2015-09-22 15:45] prestonaustin commented on #134
Clarify for me - is there no logger at all on the download controls, or are
we logging them as streams? (The latter would be an error, they are
technically identical but distinct for purposes of counting)

On Sep 22, 2015 10:28 AM, "Carie Rogers" <notifications@github.com> wrote:

[2015-09-22 15:48] acecarruthers commented on #134
In either case, @prestonaustin we need to start tracking downloads right away. In order to provide us with a license to download music, CSI requires that we send them a Monthly Sales Report for downloads as well as streams. It will follow the exact format for Monthly Sales Report as the SOCAN report. Hopefully we can pull something together using Google Analytics for the first report.

[2015-09-22 15:52] prestonaustin commented on #134
Understood. Originally we specified to do so, so I am trying to figure out
what needs doing.

On Sep 22, 2015 10:48 AM, "acecarruthers" <notifications@github.com> wrote:

[2015-09-23 15:30] acecarruthers commented on #124
Can removing the broken images be part of the next deploy? Do you need anything from me to make this happen?

[2015-09-30 22:04] acecarruthers commented on #128
Text for the Deferral (Reject) email is on page 2 of this document: https://drive.google.com/open?id=17hdD3rlN3ZZkYGq2TEqqgspcXQcB995KF6tNTUYrAKc

[2015-10-01 20:40] acecarruthers opened #135 "Please put attached image on the homepage carousel"
Please have the banner link to http://epl.bibliocms.com/launch-event/
There is no need for additional text overlay.

This only needs to be up until Wednesday Oct 7.

Thanks!
![oboe_ccrheaderlyrabrown_980x450_september2015](https://cloud.githubusercontent.com/assets/7355887/10233156/22094208-684a-11e5-9245-bc28f047c778.png)

[2015-10-01 20:54] mbrakken commented on #135
@nagapampa I just assigned this to you. Let me know if that was wrong of me :)

[2015-10-01 21:52] mbrakken commented on #134
Hi @acecarruthers. We are definitely logging downloads as distinct events, and have been probably from the beginning:

https://log.murfie.com/?app=4e392d7402d16170a352212f74ae2315&event_type=download

It looks like the code that generates the report is only looking at streams, eg:

[2015-10-01 21:57] mbrakken commented on #134
@acecarruthers I accidentally saved my prior comment before I was finished, so you probably got emailed the incomplete version. Please see in github for the complete text.

[2015-10-01 22:08] acecarruthers commented on #134
Thanks @mbrakken that is great news! The reporting format provided by the organizations we are reporting to requires that we create different reports for downloads and streams. I am still waiting on essential information from one of those organizations on how to report downloads.

[2015-10-01 22:48] mbrakken commented on #134
@acecarruthers Is the report format for the organization you have information from somewhere I can find? I'm still getting up to speed on the current state of everything, so my apologies if this is something I should already know about.

[2015-10-01 22:57] acecarruthers commented on #134
Here is the reporting format: https://drive.google.com/open?id=0B56HcVGi1B3nVlp6dFZmOGNGeVE

A summary of the context - who these organizations are and why we need to send them these reports - is here: https://drive.google.com/open?id=1_uskLeYpKjgiw9xTKSjH2ZlKqFUYJGjZ8sz7iGbkweA

[2015-10-01 23:03] mbrakken commented on #134
Thanks!

[2015-10-02 19:47] mbrakken commented on #124
@acecarruthers I just deployed updates for unpublishing content. I only have UI affordances for it on posters right now, but that seems to be the main area it's needed.

In the tab for published posters at https://submissions.capitalcityrecords.ca/review-and-publish/posters you'll see separate buttons for Update and Unpublish. Currently the Unpublish removes the content from the public site and mo

[2015-10-05 18:58] mbrakken commented on #124
I believe this is addressed with the addition of "unpublish" on posters. Closing. @acecarruthers please reopen if I am mistaken.

[2015-10-05 18:59] #124 closed

[2015-10-05 19:05] acecarruthers commented on #135
@prestonaustin @nagapampa This issue is quite time sensitive (as you can see from the text on the banner). If it isn't possible to put this up today and then remove it on Wednesday, we can mark this issue as closed.

[2015-10-05 19:35] nagapampa commented on #135
@acecarruthers This has been deployed.  Please refresh.  It should be the 4th in the slide.  There is a MORE button at the top right that goes to the link you sent above.

[2015-10-05 19:35] #135 closed

[2015-10-05 19:36] acecarruthers commented on #135
Thanks @nagapampa!!

[2015-10-05 19:41] acecarruthers commented on #124
This worked perfectly! Thank you @mbrakken

[2015-10-06 21:43] acecarruthers commented on #128
@prestonaustin I think you mentioned a few other updates to the submission process in our meeting last week - could you add them to Github and then connect them with this issue? Since I'll be away next week, I'll be giving Peter an intro to Github so he can stay on track of how the Call for Submission fixes are going and respond to questions as necessary.

[2015-10-06 22:48] mbrakken commented on #128
- [ ] persistent under consideration queue during jury process
- [ ] cc epl on initial invitation emails (maybe other messages, too)
- [ ] sort fall 2015 & prior round in publish interfaces (easily id what's
new for review)
- [ ] standardise how artists declare they don't have a label
On Oct 6, 2015 4:43 PM, "acecarruthers" <notifications@github.com> wrote:

[2015-10-07 16:40] mbrakken opened #138 "Reports interface"
We should add a reports interface and endpoint so that site operators / admins can define and and run reports dynamically.

This interface should be restricted to admins and those with the appropriate access to a "reports" stage.

The interface should present the operator with the types of data available to build reports off of, and provide a way to select data sources, attributes to be included,

[2015-10-07 16:58] prestonaustin commented on #138
@mbrakken are you envisioning implementing _both_ log/timeseries _and_
content/structure reporting happening here?

For example, are "MARC export of Albums" or "Manifest in CSV of all
published objects" in scope here as well as "Number of items streamed last
month"?

--
Preston Austin - @gl33p

On Oct 7, 2015 11:40 AM, "Marc Brakken" <notifications@github.com> wrote:

[2015-10-07 17:06] mbrakken commented on #138
I think both could happen. I don't see why not, but maybe there's something
about some of the reports (MARC, for instance) that I'm unaware of.

I assume time-series data would be based on what we formally log to jlog.
Content reporting would be based on content that populates the site. It
should be easy to separate types of reports via data sources.

On Wed, Oct 7, 2015 at 11:58 AM, prestonaustin

[2015-10-07 17:11] prestonaustin commented on #138
I definitely think it could reach into all data that have schema and APIs
to query. The level of programmatic processing on the retrieved result that
can be done without a coding toolkit will be constrained by making it safe.
I would restrict it to declarative n:n field mappings and a programmer
defined set of encoding transforms, filtering, and record counting options.
Happy to help spec.

[2015-10-07 21:12] acecarruthers opened #139 "Reporting Requirements - Oct and going forward"
The document below gives a summary of the reports we need to send to SOCAN and CSI this month and then going forward. It also describes our data storage needs. The information is incomplete, but it is the best that I know at the moment.
https://drive.google.com/open?id=1u2a9GDKWqm7xUXElDB-sCX9MJByfkM014lsQ9SFPCjs

I just now received feedback from SOCAN on the test reports we sent them in August.

[2015-10-07 21:14] prestonaustin commented on #139
this is an admirably terse issue spec :D

[2015-10-07 21:18] acecarruthers commented on #139
oops! @prestonaustin I've added a few more details.

[2015-10-07 22:22] #134 closed

[2015-10-07 22:47] pschoenberg commented on #131
This is only a test.

[2015-10-07 22:50] acecarruthers commented on #128
Thanks @mbrakken - I think that your second point is covered under invitation tool in my first post, but this seems like a good list to me.

@pschoenberg will be the contact if you have any questions about this work next week.

[2015-10-12 17:44] mbrakken commented on #102
I need to verify upload via MMS behavior, but this is working on the new submissions interface when wav is uploaded directly.

NB: I'll need to test in production, since I don't have an MMS service running locally.

[2015-10-12 17:54] mbrakken commented on #128
I'm prepared to deploy a new submission interface for testing. I have a few outstanding questions before considering it complete, though:

Should we send emails upon initial submission? If so, what should be their copy to the appropriate recipients (submitter & EPL, I assume)? NB: we did not send out emails at this point in the last round.

I have a new design concept in mind for the next jury int

[2015-10-12 17:56] jjg commented on #102
I'm working on improving some of these aspects of MMS as we speak; let me know what you want supported and I can confirm/deny @mbrakken  :)

[2015-10-12 18:19] mbrakken commented on #102
Thanks @jjg. I haven't tested this yet, but is it safe to assume that when
I upload via MMS, I'll still get back the response from JSFS (eg. the
access_key)?

If so, I think what I have in mind will work, since I'm following up each
upload with a HEAD request for the duration header.

I hope to be able to test out what currently exists this afternoon at some
point, although let me know if I *shoul

[2015-10-12 18:33] jjg commented on #102
Right now that's not necissarilly the case @mbrakken.  What destination format are you planning to store on JSFS?

[2015-10-12 18:54] mbrakken commented on #102
wav. NB: conversation on this thread moved into irc

On Mon, Oct 12, 2015 at 1:33 PM, Jason Gullickson <notifications@github.com>
wrote:

[2015-10-12 19:04] prestonaustin commented on #128
At this time, @mbrakken, let's not add that email on submission. Break it
out into a separate issue for work to consider, under appropriate
unscheduled potential work milestone and tags. I now think it will cause
ongoing work for EPL, and may lead to a lot of child issues we won't be
able to address in a timely manner.

[2015-10-13 01:42] mbrakken opened #141 "Store original files & keys in addition to wav-converted files"
When uploading media & creating tracks, upload the original file as presented in addition to the version transcoded into wav via MMS.

Currently, tracks look like:

[code]

Moving forward, they should look like

[code]

[2015-10-13 01:44] mbrakken commented on #141
I'm not sure what UI impacts this will have, since it requires tracking progress against 2 different uploads for what a person would rightfully assume is a single upload.

[2015-10-13 19:58] pschoenberg commented on #128
I agree with keeping the email as a separate issue.

Slightly concerned about a new jury interface - that sounds like much more work than fixing the small-ish issues with the current one.   If that is the best way to get to where we need to be in two weeks, then no problem.

[2015-10-13 20:00] pschoenberg commented on #139
Just checking in on this one.   SOCAN is asking revised reports by October 20.

Will we be getting the revised reports in time?    This one seems to be extremely time crunched.

[2015-10-14 20:00] mbrakken commented on #128
I just deployed the submission interface: https://capitalcityrecords.ca/submit

I need to test upload behavior in production with respect to converting files into wav during upload, but beyond that, feel free to take a look and provide feedback @acecarruthers and @pschoenberg.

[2015-10-14 21:22] pschoenberg commented on #128
Looks good visually.  Typo of ULR for Youtube instead of URL.

Have to grab a couple of music files to complete the upload test.

[2015-10-14 21:35] pschoenberg commented on #128
Tried to upload an MP3 grabbed from our Freegal site.   Miles Davis So What.

Got an error message.

![image](https://cloud.githubusercontent.com/assets/15022644/10498669/1a0b5066-7289-11e5-9913-c7a3e7c41d3a.png)

[2015-10-14 21:36] mbrakken commented on #128
Uploads don't work at the moment. I was testing a different approach to how
the data is actually sent to the server, and need to revert back to the
prior tested approach for now.

I'll let you know when that's updated. The approach I'm hoping for but am
temporarily moving away from should alleviate any playback challenges out
of the gate.

On Wed, Oct 14, 2015 at 4:22 PM, pschoenberg <notification

[2015-10-14 22:26] mbrakken commented on #128
Yup. I hadn't switched back from some tests at that point. The version up
right now successfully runs through end to end. Data for stuff I just
uploaded can be found here:

https://ccrapi3.murfie.com/submit/albums/fall-2015/marc-and-stuff-marc-s-tests

I'll still want to get the stuff I was testing today working, but some
other things need to be squared away for that all to work.

On Wed, Oct 14,

[2015-10-14 23:06] mbrakken opened #145 "Setup mms.capitalcityrecords.ca"
We want it anyways, should also help with CORS during uploading through it. Currently we're using mms.murfie.com.

Probably requires an A or CNAME record.

Also, document process so we have a recipe for future cases.

[2015-10-14 23:15] mbrakken opened #146 "Admin interface for handling users"
Use case: allow site admins to setup other existing or new accounts with access to restricted areas. For instance, inviting jurors, pulling in other folk in the library for managing review & publication of content, etc.

We should have an easy way to manage user accounts given a set of publishing stages (jury, invitations, review/publishing, reporting/analytics), and other tasks like granting perm

[2015-10-15 20:50] mbrakken commented on #139
Hi @pschoenberg. Sorry for radio silence. I have full confidence we'll be able to get reports to you or you'll be able to access them yourselves before the 20th.

[2015-10-19 15:38] pschoenberg commented on #139
Has there been progress in the last four days?

[2015-10-19 16:09] prestonaustin commented on #139
Carie already has reporting code done, and Marc is working on deploying a
basic admin auth and UX so you can access them directly at an appropriate
path - plan was to deploy today. I'll confirm that we are on track or we
can opt to run this report for you. Will update around 2:00c here.

On Oct 19, 2015 10:38 AM, "pschoenberg" <notifications@github.com> wrote:

[2015-10-19 16:19] mbrakken commented on #139
Hi @pschoenberg and @acecarruthers

This url is now live: https://capitalcityrecords.ca/admin/reports

You will be prompted to login using the email address & password used on submissions.capitalcityrecords.ca, eg for http://submissions.capitalcityrecords.ca/review-and-publish/submissions

I know @acecarruthers has working credentials for all that. I'm not sure if @pschoenberg has his own.

I am w

[2015-10-19 16:35] pschoenberg commented on #139
Thanks for the update @mbrakken

I do not have an Admin login for CCR.
Please set one up for me.

[2015-10-19 17:02] mbrakken commented on #139
@pschoenberg I just sent you an email with info about signing in as an admin (I didn't want to share credential here :)

Let me know if you have questions.

[2015-10-19 19:29] mbrakken opened #151 "Jury interface v0.2"
Relevant parts pulled out of #128
______
Prior version at http://submissions.capitalcityrecords.ca/submissions

Bugs from prior version:
- [x] Jury comments, recommendations, rejections wouldn't save/disappeared when you refreshed the page
- [x] Include all collected data in submission record for jury to see
- [x] persistent under consideration queue during jury process

Jury interface should be w

[2015-10-19 19:33] mbrakken commented on #151
The interface should present to the jury all information submitted by the artist.

On the last version, there were concurrency issues related to saving of jury reviews. These should all be resolved given the current API, but we will need to verify that concurrent operations do not result in data loss or mis-placement.

[2015-10-20 22:04] acecarruthers commented on #139
@mbrakken this is fantastic. Thank you! I have sent the reports on to SOCAN and CSI. I have a follow up question and a request:

Question. I created a Streams report and a Users report each covering the time between July 8 and Sept 30. The Streams report shows 12155 streams and the Users report shows 12154 streams. Any idea why there would be a 1 stream difference? (I am using Google Refine to rev

[2015-10-20 22:23] mbrakken commented on #139
Excellent. I'd need to compare across the two outputs to get a sense of why they're off by one. Is it immediately obvious what is missing or extra?

A column heading is trivial. I have an open issue to redesign reporting so that it's configurable by an admin rather than hard-coded. I'll make a note in that issue about the heading, since we'll want to preload it with configurations that meet your n

[2015-10-20 22:38] acecarruthers commented on #139
@mbrakken It isn't immediately obvious what is missing or extra, unfortunately.

That reporting redesign sounds like a great long term goal. I want to confirm that both the header for field 2 and the content in each row in field 2 should be 'DPD'.

I am still waiting for CSI to send me their final decision about how they want stream reports. It could be exactly the same as SOCAN, or it could be sl

[2015-10-22 20:32] acecarruthers commented on #123
Are there any updates on this @mbrakken? I just tried listening to Choir and Marching Band track 1 in Chrome and the track stopped at the end and wouldn't move forward to track 2. However, I had the JS console open and there was no ERR_CONTENT_LENGTH_MISMATCH

[2015-10-22 20:35] #125 closed

[2015-10-22 20:36] acecarruthers commented on #123
Actually, after about 5 minutes an error appeared:
Failed to load resource: net: :+1: ERR_CONTENT_LENGTH_MISMATCH

[2015-10-22 20:45] acecarruthers opened #152 "Artist page formatting error"
I have just noticed some strange formatting errors on artist pages. An image of Cayley Thomas' page is below with the JS console open as an example. The artist title text is now black instead of white, the YouTube embed is missing, and after I clicked on the twitter logo the word "twitter" appeared above the logo in blue.

I have noticed this on:
Cayley Thomas https://capitalcityrecords.ca/artists

[2015-10-22 20:47] acecarruthers commented on #152
![artist_formatting](https://cloud.githubusercontent.com/assets/7355887/10677770/9c7b29d4-78cb-11e5-9849-6173c5fdeda1.png)

![natureof_err_chrome](https://cloud.githubusercontent.com/assets/7355887/10677795/b9cbb35a-78cb-11e5-867c-fbaf702dd784.png)

[2015-10-22 20:53] acecarruthers opened #153 "Tracks not finishing"
I was listening to Choir and Marching Band tracks 1 and 2 and they both stopped mid song. I tested both twice. This only happens in Firefox. In Chrome they play all the way through, but then track 1 stopped at the end and didn't move forward to track 2 as I noted in issue #123. Am currently listening to other albums to see if they have the same error.

https://capitalcityrecords.ca/albums/choir-an

[2015-10-22 21:09] #122 closed

[2015-10-22 21:19] mbrakken commented on #123
Sorry, I haven't thought about this in ages. I'll try to take a look soon.
I feel like we successfully addressed this on Murfie, but I'll need to
review some history.

On Thu, Oct 22, 2015 at 3:36 PM, acecarruthers <notifications@github.com>
wrote:

[2015-10-22 22:27] acecarruthers commented on #128
This is looking great @mbrakken! I like the fields and upload tool all on one page and I like that "independent" is automatically suggested as a record label. I tested it through this afternoon (Oct 22) in Firefox 41.0 and Chrome 46.0. on my Windows 7 Desktop. Here is some feedback

- [ ] No need to include artist social media fields incl. YouTube, social media, website at this stage
- [ ] Header

[2015-10-22 22:53] acecarruthers commented on #151
Thansk @mbrakken, I think the jurists will really appreciate the "Your Queue" option. Feedback:

1. Maybe this is already in your plan, but when a jurist clicks Recommend, Flag, Skip or Add to Queue, I think the next submission in the line should appear in its place. (When they Add a Note, it should stay on the same submission)

2. What information is shown in the side lists? I’d like to see both

[2015-10-22 22:58] acecarruthers commented on #135
@nagapampa can you remove the Lyra Brown image from the homepage carousel next chance you get? The event has passed. Thanks!

[2015-10-23 00:46] mbrakken commented on #151
@acecarruthers:

1. Yup. That's the idea.
2. I was thinking artist name / album title, but it should be easy to add in genre, too.
3. Yup.
4. Sounds good. Submitter info is definitely not intended for the jurors. Pulling out social media stuff (here and the form) is trivial.

For inviting jurors, I'm assuming you already have your intended list. I'm working to get together a process for formally i

[2015-10-23 14:32] nagapampa commented on #135
@acecarruthers This will be in the next deploy.

[2015-10-23 19:47] acecarruthers commented on #151
@mbrakken The jurors will be the same as last time. Will their existing profiles work?

[2015-10-23 19:55] acecarruthers commented on #135
thanks!!

[2015-10-23 21:02] acecarruthers commented on #151
if not, here are the details that I think you'll need. https://drive.google.com/open?id=1XUAMAFfnCrt7AGGkhQ77aqlcCV9L65BTTzP6ZF_LDuw

[2015-10-29 22:01] acecarruthers opened #154 "Login Error"
Attempting to login using library card and PIN is having a strange result. The nav bar that typically says "Full Collection My Collection Logout" temporarily flashes on the screen and then disappears - replaced by "Login." This also happens when you are prompted to login when you try and download an album. Here is a screenshot of the browser console from when Peter tried to login on Chrome.

![log

[2015-10-30 10:22] mbrakken commented on #152
The video doesn't seem to exist any more: https://vimeo.com/84088486
It will need to be replaced or cleared outright.

Other fixes will roll out soon.

[2015-10-30 16:03] acecarruthers commented on #152
I went to go remove the video from Cayley's artist page, but I can't seem to access the Artist and Albums page of the Review and Publish interface http://submissions.capitalcityrecords.ca/review-and-publish/submissions. I am able to access the posters page.

[2015-10-30 16:58] mbrakken commented on #128
@acecarruthers A quick update: I have a series of changes I can roll out (the checked-off stuff). The only thing currently blocking me relates to transcoding media during upload (to store as wav). I have it working locally, but it required some changes to the transcoding system because there are some assumptions the transcoder makes that don't work with the version of the file storage system curre

[2015-11-02 16:26] acecarruthers opened #157 "Can't access artist page editor or reports page"
The link that usually takes me to the artist/album page editor now takes me to a blank page: http://submissions.capitalcityrecords.ca/review-and-publish/submissions/ This may be related to my most recent comment on #152

The link that took me to the reports interface now prompts me to authenticate. My email address and password are not accepted and I'm redirected to the Capital City Records homepa

[2015-11-02 22:12] mbrakken commented on #151
- [ ] jury interface should auto load to the first submission in the queue (sorted by submission date?)
- [ ] admins should see submitter info

@acecarruthers a first version of the jury interface is alive: https://capitalcityrecords.ca/admin/jury
Buttons on the right don't do anything yet, and I stripped out any expand / collapse of the categories to the left for the moment, but tracks are previe

[2015-11-02 23:31] mbrakken commented on #154
This should be resolved now, @acecarruthers. I authed with the test credentials and all went well.

[2015-11-02 23:31] #154 closed

[2015-11-02 23:36] acecarruthers commented on #151
Hi @mbrakken , I am unable to access the jury interface because I am unable to authenticate. It appears to be the same problem as #157

[2015-11-02 23:44] mbrakken commented on #157
@acecarruthers can you try again? I made some updates, and I think it should work now.

I'm also going to create an issue in the API to add some checks around user-based operations, which are in league with user management work I have in progress.

[2015-11-02 23:44] mbrakken commented on #151
@acecarruthers I believe #157 should be resolved currently.

[2015-11-02 23:44] mbrakken commented on #151
(as of about 2 minutes ago)

[2015-11-02 23:48] acecarruthers commented on #157
@mbrakken The jury tool is now accessible and the reports page is accessible - thanks!

The artist/album page editor is not accessible yet http://submissions.capitalcityrecords.ca/review-and-publish/submissions/ - should there be a new URL for this?

[2015-11-02 23:54] mbrakken commented on #157
Hmm. I was just able to sign in as you there. Those interfaces are not yet
moved into the proper app but that is planned as part of this submission
round.

I'll email you a url outside of Github that should work for you.

On Mon, Nov 2, 2015 at 5:48 PM, acecarruthers <notifications@github.com>
wrote:

[2015-11-02 23:54] acecarruthers commented on #139
I just pulled the reports for October and found the same mysterious error. The stream report listed 1840 total streams and the unique visitor report listed 1839 streams.

[2015-11-02 23:55] acecarruthers commented on #139
Here are the two files to compare when you have a chance to get to this:
[EP-188326_stream_20151031_2015112_164915_UVR.txt](https://github.com/therabble/ccr-app/files/25787/EP-188326_stream_20151031_2015112_164915_UVR.txt)

[EP-188326_stream_20151031_2015112_164835.txt](https://github.com/therabble/ccr-app/files/25786/EP-188326_stream_20151031_2015112_164835.txt)

[2015-11-02 23:56] mbrakken commented on #139
Ok. I haven't looked into any of this yet, but can try to prioritize it.
@nagapampa, do you have any thoughts on this?

On Mon, Nov 2, 2015 at 5:54 PM, acecarruthers <notifications@github.com>
wrote:

[2015-11-02 23:58] acecarruthers commented on #139
@mbrakken @nagapampa Don't worry about prioritizing this before we launch the next Call for Submissions. A single stream costs us $0.0013, so this isn't a huge problem. It would be nice to have figured out at some point, so I'll keep documenting it when it happens.

[2015-11-02 23:59] mbrakken commented on #157
@acecarruthers confirmed she can access. Closing.

[2015-11-02 23:59] #157 closed

[2015-11-03 00:05] mbrakken commented on #128
I talked with @jjg about ways to handle MMS' expectations re: transcode on upload. I didn't get around to testing it yet today, but I have full confidence it'll work since I had forgotten that a version of it is what we are currently doing for Murfie's new download processing system. I believe I'll be able to get it out the door tomorrow.

[2015-11-03 16:43] nagapampa commented on #139
@acecarruthers I can take a look at this again

[2015-11-04 00:35] mbrakken commented on #102
I have this working in my transocding upload work. Closing.

[2015-11-04 00:35] #102 closed

[2015-11-04 00:36] mbrakken commented on #128
I've tested AAC in my latest work (well, an itunes download, which I assume is aac), and am currently downloading some lossless files to test as well. Signs look goodl.

[2015-11-04 02:35] mbrakken commented on #128
I've verified FLAC in production. ALAC transcode currently fails on MMW. I've submitted an issue there.

Is this actually a problem? Will removing ALAC as an option actually interfere with anything?

[2015-11-04 15:13] kellyhiser commented on #128
I don't think removing ALAC as an option should be a problem - I seem to remember we had no or very few ALAC submissions last time around. @acecarruthers can you confirm?

[2015-11-04 16:00] prestonaustin commented on #128
FWIW - I considered excluding it at the outset as it is a pretty low value
format on the music production side, serving well only in "exclusively
Apple gear" environments. We should ideally ask for FLAC as preferred, then
WAV/WAVE, then MP3, then anything else.

On Nov 4, 2015 9:13 AM, "Kelly Hiser" <notifications@github.com> wrote:

[2015-11-04 18:33] mbrakken opened #160 "Banner content management system"
Rather than having banner content be a dev concern, we should make it a content-management, admin concern.

Currently the json for banner content is hard coded into the route that uses it. We should make this content a stand alone json file that is loaded in async and can be edited by others.

It should be part of the project file system, but trivial to find and edit by non-devs:

First version ca

[2015-11-04 18:34] mbrakken commented on #128
I agree, and will remove ALAC as an option. I think exactly 0% of artists will be affected by this. Note that it only relates to uploads. ALAC will remain a download option.

[2015-11-04 18:35] mbrakken commented on #128
This issue is currently over-specified. I'm splitting it into separate issues for each interface for better state management. I'll close this one when that's done, but reference it in each related issue.

[2015-11-04 18:39] mbrakken opened #161 "Submission interface, round 2"
Pulled from #128. Most of the conversation in that thread relates to work on this issue. I'm not copying most of that over since it's mostly no longer relevant.
__________
Artist Submissions http://submissions.capitalcityrecords.ca/submit/

Bugs from prior version that need to be addressed:
- [x] not all audio files uploaded successfully so jury wasn't able to listen to all tracks (I believe this

[2015-11-04 18:42] mbrakken commented on #161
Currently deployed. I will remove ALAC as an option, which should resolve all current upload / playback complications.

I also have yet to upload an archive of the original, non-transcoded file, but feel like that's not a blocking concern at the moment.

[2015-11-04 18:49] mbrakken opened #162 "Invitation interface v 0.2"
Relevant parts pulled out of #128
___________
Prior url: http://submissions.capitalcityrecords.ca/invite
Future url: https://capitalcityrecords.ca/admin/invite

- [x] Send localmusic@epl.ca copies of sent invitations so we have a record of the unique links sent to each artist
- [x] "Reject" button sends Deferral email
- [x] cc epl on initial invitation emails (maybe other messages, too)

Text for

[2015-11-04 18:56] mbrakken opened #163 "artist license interface 0.2"
Ported relevant bits from #128
_____________
prior url: http://submissions.capitalcityrecords.ca/complete-submission (requires auth token)
future url: TBD

- [x] We encountered a problem last time (artist couldn't upload her banner image) because the tool didn't support submissions for multiple albums from a single artist. It is likely that we will receive new submissions from artists who submitte

[2015-11-04 18:57] mbrakken opened #164 "publish interface v 0.2"
- [ ] sort fall 2015 & prior round in publish interfaces (easily id what's
new for review)

Should be mostly portable from prior version.

[2015-11-04 18:58] mbrakken commented on #128
Moving this issue into issues #151, #161, #162, #163, #164.

Closing here.

[2015-11-04 18:58] #128 closed

[2015-11-04 19:11] nagapampa commented on #160
@mbrakken I added the 'content' folder in the master branch so I could reference it in the 'banner_cms' branch.  The code is up to grab the JSON from the file.

![banner_call](https://cloud.githubusercontent.com/assets/2964839/10948856/5bc988b6-82f5-11e5-8f5b-dd4f9a8192a6.png)

In the network tab, the .json file is successfully called but in the code it's returning NULL.  I believe this has to do

[2015-11-04 19:20] mbrakken commented on #160
If you `console.log(json)` where your promise resolves, what do you get?

Also, I think you'll need to update the JSON you're requesting so that keys and values are all in double quotes. I don't think it's valid JSON otherwise.

You'll probably also need to `JSON.parse(json)`, since it's just text coming across the wire.

[2015-11-04 19:22] nagapampa commented on #160
@mbrakken It's showing up as null when I do a console.log

[2015-11-04 19:24] mbrakken commented on #160
In your handler, what is `this.response` look like? If that has content, try `return resolve(this.response);`

[2015-11-04 19:33] nagapampa commented on #160
@mbrakken I need to learn to be patient I guess.  It was still returning the invalid JSON after I had added the double quotes (good call on that).  I had to wait about 5 minutes and do a hard refresh in Chrome to see the most current results.

So it works just fine.  Everything is still checked in - I didn't have to change any code.  It was just an issue with the JSON.

I added a little documentat

[2015-11-04 19:33] mbrakken commented on #160
Also, in the interest of simplicity (and following conventions used elsewhere in the code), at the top of the file I'd `import ajax from "ic-ajax";`, and then just use `ajax(url).then(function(resp){ // do something });` instead of writing a custom handler.

`ic-ajax` is really just a promisified wrapper around jQuery.ajax(), and while I generally try to avoid jQuery, this is my current exception

[2015-11-04 19:40] mbrakken commented on #160
Awesome. So, is it possible to actually add image files to the repo directly from github? If not, I think the next step is to add image upload capability inside of an /admin/content/banners path.

[2015-11-04 19:43] mbrakken commented on #160
If we are able to add banner images directly in github, those will also need to be loaded directly out of github (since they won't be deployed to the server). If we are serving them from the server, we'll need to disable ember cli's fingerprinting of those files: http://www.ember-cli.com/user-guide/#fingerprinting-and-cdn-urls

[2015-11-04 19:44] nagapampa commented on #160
@mbrakken The only way I see that working is using the image path URL from an issue where an image has been uploaded... I don't see a way in the GUI to upload a file... just create one in text.

[2015-11-04 19:48] mbrakken commented on #160
OK, so i think we should add in some image upload capability at /admin/content/banners. The next step after that can be a form for editing banner json directly from the app. Github API integration is probably needed for this. I'm not really sure how that works, though.

A non-github approach would be to add an endpoint for storing this content data in redis behind the musicat API. This may be the

[2015-11-04 21:29] acecarruthers commented on #128
@kellyhiser @mbrakken no artists used ALAC last time. It is 100% cool to drop it.

[2015-11-06 20:38] acecarruthers commented on #161
Hi @mbrakken I'm about halfway through the tests I'd like to do on the submission tool and I've encountered a few bugs. I thought I should tell you about them sooner than later.

- Two times I tried to upload an AAC file and it did not play back in submission tool or in the jury tool. In the jury tool, the file had no length associated with it. (In jury tool see Test Album Name 2, the song is 01 S

[2015-11-06 20:45] mbrakken commented on #161
Hmm. Are these some of the same files we were testing with last time? I
recall that the particular FLAC files used for testing last round behaved
differently from others (including artist-uploaded ones).

The AAC / M4A file I used for testing was an itunes purchase. It's possible
that there's something unique about the one you're using to test.

Any chance you could pass the test files to me, via

[2015-11-06 21:11] acecarruthers commented on #161
You're right, they are the same files I was testing with last time. I downloaded the FLAC and AAC files from Yahara Music Library and the MP3 I got from EPL's other free music service, Freegal. You can find all the files I've encountered trouble with at https://drive.google.com/open?id=0B56HcVGi1B3nVHoxbGEzTk44X00

[2015-11-06 22:00] acecarruthers commented on #161
@mbrakken I have just retested with aac, mp3 and flac files downloaded from Capital City Records and they all work great. Do you know what the problem is with the other files? I can't think of why there would be something weird about them.

[2015-11-06 22:04] mbrakken commented on #161
@acarruthers I don't know off the top of my head, but I plan to run them
through the transcoder to see what it reports.

On Fri, Nov 6, 2015 at 4:00 PM, acecarruthers <notifications@github.com>
wrote:

[2015-11-06 23:06] acecarruthers commented on #161
OK. I have finished all the testing I planned on and I only found one other bug and it is small. Here is the little bug:
- When I pressed "click to select files" the directory had greyed out aac, ogg and flac files so I couldn't upload them. I think it is just a safari thing.

Safari 9.0.1, MacBook Pro, OS X Yosemite 10.10.5, Nov 6, 3:50pm MT

There are some text edits I'd like to see in the submi

[2015-11-06 23:15] acecarruthers commented on #161
Oh, oops. Just a few more:
On https://capitalcityrecords.ca/submit/album-data

- [ ] could you make the text in the fields a little lighter in Chrome and Safari? e.g., "July 2012" and "you@youremail.com" should be easier to distinguish from "Independent" and other fields when they are filled in.
- [ ] change "Artist bio" to "Short artist bio"
- [ ] please remove ALAC from the list of preferred fil

[2015-11-06 23:37] acecarruthers opened #166 "Revisions to Homepage & About Page For Launch"
On Nov 12, as early as you can (9-9:30 am Central), please make the following changes:

On https://capitalcityrecords.ca/about
- [x] At the end of the first paragraph are the words "call for submissions" - please change this link to https://capitalcityrecords.ca/submit
- [x] Under the Participate heading, please replace "Our next call for submissions is tentatively scheduled for Fall 2015." with "

[2015-11-09 18:16] mbrakken commented on #166
@acecarruthers
![screen shot 2015-11-09 at 12 07 37 pm](https://cloud.githubusercontent.com/assets/1530955/11042271/c0449af8-86db-11e5-9720-43310d5e7cdb.png)

[2015-11-09 18:22] mbrakken commented on #166
All this is queued up along with changes in #161.

[2015-11-09 18:22] mbrakken commented on #161
Everything checked off is queued to go out with the change in #166. Let me know if you'd rather these go out now instead of then.

I'm managing everything jury-related in its issue, #151.

[2015-11-09 18:41] mbrakken commented on #161
The grayed out files in the selector is possibly related to this: https://code.google.com/p/chromium/issues/detail?id=478128

The files can still be dragged and dropped. Currently on the file input I have set `accept="audio/*"`. I could remove that so anything can be accepted by the built in widget and just rely on my processing code to reject files of the wrong types (this is already in place to

[2015-11-09 22:48] acecarruthers commented on #161
@mbrakken it is fine for all of these changes to roll out at the same time as #166. Don't worry about changing the file input, not a lot of people use Safari, and as you say, they can still drag and drop. What we can do is change some text on the FAQ page:
https://capitalcityrecords.ca/faq
Can you please completely replace what is currently there with:

We prefer FLAC, WAV and AIFF files. So send

[2015-11-09 22:53] acecarruthers commented on #166
Thanks for the screenshot. Can you replace the carousel image with this slightly revised image. I think the spacing will work a bit better.

![ccr_music_submissions_ccr_artbox_980x450_nov2015_v2_cs5 3](https://cloud.githubusercontent.com/assets/7355887/11049200/ffd0a86a-86f9-11e5-9934-1c858a4216ce.png)

[2015-11-10 17:34] mbrakken opened #167 "Add email to submitter after submission"
Old version here: https://github.com/jjg/mc-submissions/blob/master/server.js#L150

This should be sent out by the client calling the email endpoint. Ideally we'd have things set up so the email copy can be edited from github, but that's less urgent.

[2015-11-12 09:57] #161 closed

[2015-11-12 09:57] #166 closed

[2015-11-12 17:48] mbrakken commented on #167
Closed via #170

[2015-11-12 17:48] #167 closed

[2015-11-12 18:19] acecarruthers commented on #151
Hi @mbrakken, with submissions running until Dec 3, the jury is expecting to have access to the jury tool as of Dec 4. Think I can be running tests on the jury tool/jury authentication by Nov 30 at the latest? If at any point you don't think this timeline will work let me know and I'll give the jury a heads up.

[2015-11-12 18:22] acecarruthers opened #171 "Dec 4 - Close Submissions"
As early as you can on Dec 4, please
- remove the link to submit from the homepage nav bar
- remove the submission banner from the carousel
- change the text on capitalcityrecords.ca/submit to "Submissions are now closed. The next call for submissions will be announced in 2016."

[2015-11-12 18:27] acecarruthers commented on #162
I've told the jury they have until January 7, 2016 to make their recommendations. If possible, I'd like to use this tool to send invitations out to artists on January 8.

[2015-11-12 18:31] acecarruthers commented on #163
I'd like to send invitations to artists on January 8. Can you estimate when this could be ready for testing? The holidays make it kind of awkward. Is before Christmas possible?

[2015-11-12 18:35] mbrakken commented on #151
This seems more than reasonable @acecarruthers. I'm hoping you can end to
end test the middle of next week.

On Thu, Nov 12, 2015 at 12:19 PM, acecarruthers <notifications@github.com>
wrote:

[2015-11-12 18:37] acecarruthers commented on #151
@mbrakken oh amazing! Thanks! I will be out of the office between Nov 19 and 23 - back on the 24th.

[2015-11-12 22:27] mbrakken commented on #127
@acecarruthers is this no longer a target? I was looking to incorporate it
somehow, but had done no work on it yet.
On Nov 12, 2015 4:03 PM, "acecarruthers" <notifications@github.com> wrote:

[2015-11-12 22:29] acecarruthers commented on #127
Oh oops, it is a target, I meant to move it from the Milestone because it isn't an immediate priority not close it. I was able to spend a half hour and collect the data just by looking through the artist submissions. .

[2015-11-13 19:40] mbrakken commented on #115
@jjg The only one of these I saw any reference to are https://ccrapi.murfie.com and https://ccrjsfs.murfie.com. I don't see any code that actually calls them, though.

I checked the JSON for published artist / album / poster assets, and all media urls point to ccrapi2.murfie.com.

I believe there are no outstanding dependencies on anything you list.

[2015-11-13 23:15] acecarruthers commented on #163
@mbrakken, Is it possible to add two additional fields to the artist information page? I've mocked it up below. I'd like people to be able to check either, both or neither box. Since August I've been fielding lots of requests from different departments at EPL interested in showcasing CCR artists. I'd like to narrow down who I consider.

![live shows](https://cloud.githubusercontent.com/assets/7355

[2015-11-17 17:19] acecarruthers commented on #164
Reviewing the submissions so far I can see that a number of musicians who are already on Capital City Records have submitted excellent candidates for the next round. Thought we should be aware of the possibility of having to publish second albums to existing artist profiles.

[2015-11-17 20:11] acecarruthers opened #172 "Tracks lengths for some submissions not collected"
Everything plays fine. This isn't a big issue, just thought I should mention it.

https://capitalcityrecords.ca/admin/jury/rattle-rattle-set-traps-1447726568232

https://capitalcityrecords.ca/admin/jury/rebecca-lappa-tattered-rose-1447636730652

https://capitalcityrecords.ca/admin/jury/consilience-walking-through-a-dead-night-ep-1447641915420

https://capitalcityrecords.ca/admin/jury/endivera-sham

[2015-11-17 21:15] mbrakken commented on #172
Hmm. Interesting. I'll take a look at it, see if I can figure out why
durations didn't get set. In theory, it should be easy to get duration
later in the process for any that didn't initially get set.

On Tue, Nov 17, 2015 at 2:11 PM, acecarruthers <notifications@github.com>
wrote:

[2015-11-17 21:20] mbrakken commented on #164
Cool. That's a case I definitely want to be able to handle. Good to hear
the round is going well :)

On Tue, Nov 17, 2015 at 11:19 AM, acecarruthers <notifications@github.com>
wrote:

[2015-11-17 21:22] acecarruthers commented on #164
@mbrakken I know you can probably see the submissions too, but there are 28 so far! In 5 days! I think it is great. I am very happy with how they round is going so far :)

[2015-11-17 21:26] mbrakken commented on #164
I haven't actually checked in to see submissions, but with 28 in 5 days and
no major bug reports, I'm pleased as punch :)

On Tue, Nov 17, 2015 at 3:22 PM, acecarruthers <notifications@github.com>
wrote:

[2015-11-26 21:14] acecarruthers opened #174 "Cannot load albums, artists, posters or jury, publishing pages"
Hi @mbrakken
the homepage looks like this (for example)
![error message_nov26](https://cloud.githubusercontent.com/assets/7355887/11430646/f6c241c0-9446-11e5-8a36-3a4d97b14738.png)

Submit, About and FAQ pages work, so does the reports page.
Noticed ~2pm MT Nov 26 tested on Firefox 42.0 and Chrome 46.0.2490.86, Windows 7,

[2015-11-26 21:47] acecarruthers commented on #174
scary update: The jury page resolved, but listed no submissions.

[2015-11-26 22:57] acecarruthers commented on #174
@prestonaustin @kellyhiser @mbrakken any updates on this?

[2015-11-26 23:23] jjg commented on #174
Resolved.  API server CPU was pegged, need to do more analysis to determine the cause.  Resolution was rebooting the API server.

[2015-11-30 16:53] acecarruthers commented on #151
Hi @mbrakken, any updates for me?

[2015-11-30 19:00] mbrakken commented on #151
I should have something for you very soon @acecarrthers. I had been
debating different approaches to handle this, and while I was waking up
this morning a rather nice one occurred to me. I'm testing it out locally,
and so far it all seems to be working. I'll deploy and give you a login
once I feel it's there, which should certainly be today.

On Mon, Nov 30, 2015 at 10:53 AM, acecarruthers <notifi

[2015-11-30 23:10] mbrakken commented on #151
@acecarruthers I just sent you an email outside this thread with credentials for a test juror account. Other than the juror's queue, I think every thing is set.

[2015-12-01 21:52] mbrakken commented on #174
Closing.

[2015-12-01 21:52] #174 closed

[2015-12-01 21:54] mbrakken commented on #151
I believe this is done enough to close. Interactions within the jurists' queue could be improved, but I feel like it's all workable as is. I'm going to close this, but feel free to reopen if I'm wrong @acecarruthers.

[2015-12-01 23:25] acecarruthers commented on #151
Agreed that the jurists queue interactions are just fine. After reviewing functionality on Chrome and Firefox this morning and this afternoon, there are some bugs I noticed and small fixes I'd like to suggest for this tool.
- [ ] In both Chrome and Firefox when I had flagged a submission and then unflagged it and tried to recommend it, the recommend function did not work. The opposite was also tru

[2015-12-01 23:44] acecarruthers opened #177 "Search broken"
Search isn't responding to any typing

[2015-12-02 00:17] #177 closed

[2015-12-02 00:19] mbrakken commented on #177
Back working. Whoops.

[2015-12-02 00:21] acecarruthers commented on #177
Thanks!

[2015-12-02 00:25] mbrakken commented on #151
Ahh. Right. That first one fell off my radar (for some reason the id for
the review hangs around in local memory after it's deleted, which
interferes with a new thing being created with that id. A hard refresh
alleviates the problem, but that shouldn't be necessary).

For everything else, I'll look at wiring up a custom modal rather than the
current default prompt box. Everything you raise about t

[2015-12-02 00:42] mbrakken commented on #151
@acecarruthers The first point is better addressed by the API. I have an update tested locally that resolves this, I'll deploy it later this evening.

I'll try to knock out the others soon.

[2015-12-03 17:33] acecarruthers commented on #151
Hi @mbrakken I tested the first one (flagged>recommend, recommend>flag) and it works great. Thanks! I noticed the other points have check marks beside them but I didn't see any changes to the dialog boxes on the tool. Can you give me a heads up when I should see those?

I'm putting together an email to send to the jury tomorrow that includes some information about the changes to the jury tool inte

[2015-12-03 20:14] mbrakken commented on #151
Hi @acecarruthers, the other night I mostly implemented everything to swap
out the browser default popup with a custom one, and just need to clean it
up and make sure I didn't break anything with the modified process flow.
I'd hoped to have that out early yesterday, but sudden Murfie needs ended
up occupying my attention. I should be able to get it all out today at some
point. I'll let you know wh

[2015-12-04 16:08] acecarruthers commented on #171
@mbrakken @nagapampa Submissions are closed today. Can we make the above changes today?

[2015-12-04 16:14] acecarruthers commented on #151
Thanks @mbrakken. I'll email the jurists today once I hear from you that the popup fix has been pushed out.

[2015-12-04 17:25] mbrakken commented on #171
I've closed submissions, and also stubbed out a way that submission open /
close can be defined by admin configs. Eventually there'll be a process
where you can just define submission rounds, open/close them from an
interface.

On Fri, Dec 4, 2015 at 10:08 AM, acecarruthers <notifications@github.com>
wrote:

[2015-12-04 17:25] #171 closed

[2015-12-04 18:52] mbrakken commented on #151
Okeydokey. Version with custom modal input is now out. Accounts for jurists have been created. I think it's all set.

I'll let you close this. Please let me know either way.

Next I'm finishing off the updated invite interface, and then the artist completion stuff.

[2015-12-04 19:27] acecarruthers commented on #151
Thanks @mbrakken. Everything is working great. I have contacted the jurists, so we are good to close this!

[2015-12-04 19:27] #151 closed

[2015-12-04 22:55] acecarruthers commented on #162
I just made a small revision to the text in the acceptance email https://drive.google.com/open?id=17hdD3rlN3ZZkYGq2TEqqgspcXQcB995KF6tNTUYrAKc. Since a number of local artists have submitted more than one album this time around, I think it we should specify which album has been accepted in the letter. I marked this with an underlined blank space in the text.

[2015-12-04 23:39] mbrakken commented on #162
I'll take a look. FYI, I'm planning to set this up so you'll be able to
edit that email text yourself in the future. At least initially that'll
happen directly in Github. I'll show that to you when it's out.

On Fri, Dec 4, 2015 at 4:55 PM, acecarruthers <notifications@github.com>
wrote:

[2015-12-16 00:27] acecarruthers opened #182 "Glitchy track"
This track keeps stopping and starting. https://capitalcityrecords.ca/admin/jury/althea-cunningham-on-the-verge-1447886262982

 I have noticed this on other tracks, but only in Firefox and it has never been consistent. This track keeps starting and stopping in both browsers every time I play it.

Could this be a problem with the upload process or is it inherent to the file?
If I asked the artist t

[2015-12-16 01:08] jjg commented on #182
Hey all, can one of you assign this to me please? I can't seem to do that on my phone :)

[2015-12-16 15:13] jjg commented on #182
Can you set me up with a login?  Thanks!

[2015-12-16 18:34] mbrakken commented on #182
@jjg I can send you my credentials.

[2015-12-16 21:54] jjg commented on #182
Is it normal for the URL to indicate the file is mp3 when the stored media is wave?

[2015-12-16 22:11] jjg commented on #182
I think I got to the bottom of this, please test and let me know if it continues to be a problem :)

[2015-12-17 16:15] acecarruthers commented on #182
@jjg I've tested it and it sounds good. Thanks! Is there a chance that the error you fixed could have affected other tracks?

[2015-12-17 16:22] acecarruthers opened #183 "Download buttons and Login not functioning"
I've tested this on a few albums (listed below) and I think it is across all albums. The download buttons and login button aren't doing anything. The popup requesting the user's library card and PIN is not appearing.

https://capitalcityrecords.ca/albums/josh-sahunta-lights
https://capitalcityrecords.ca/albums/the-duettes-your-little-voice
https://capitalcityrecords.ca/albums/columbus-commonwealth

[2015-12-17 16:56] prestonaustin commented on #182
Yes, but we can't identify which ones. It was a server load distribution
problem not a data problem, so the fix would fix anything impacted.

--
Preston Austin - @gl33p

On Dec 17, 2015 10:15 AM, "acecarruthers" <notifications@github.com> wrote:

[2015-12-17 16:57] acecarruthers commented on #182
Thanks Preston, that is good news

[2015-12-17 17:10] #182 closed

[2015-12-17 17:21] mbrakken commented on #183
Fixed.

Note to self: I think it's time for automated tests...

[2015-12-18 00:04] acecarruthers opened #184 "Meta tags for CCR pages"
@mbrakken - here are the meta tags we'd like to see on Capital City Records pages whenever possible. Words in all caps stand in for variables from each page. (The exception is YEG, which is an acronym.)

Homepage https://capitalcityrecords.ca/

[code]

Album Page https://capitalcityrecords.ca/albums

[code]

Artist Page https://capitalcityrecords.ca/artists

[code]

Poster Page https://capitalcity

[2015-12-18 00:31] acecarruthers commented on #183
I just tried this again on Firefox and it is not working again. Chrome appears to be working fine.

5:25pm MT, Firefox 42.0, Windows 7, Dec 17.

[2015-12-21 15:59] acecarruthers commented on #183
Customer reported having the same trouble on multiple browsers

[2015-12-21 18:15] mbrakken commented on #183
Hmm. I am able to sign in on Chrome and Firefox, both via the login link and as part of the download process.

I do noticed that the submit button has to be hit, rather than just hitting enter / return after entering PIN.

When you reopened this, were you not seeing the login form at all, or was the login form not responding? (Either in that nothing happened, or it closed but it didn't log you in?